<meta charset="utf-8">
<title>DataRose notebook LAcrime</title>

<style>
body {
  font-family: sans-serif;
  padding: 100px;
  background: #f7f7f7;
}
iframe {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
a {
  font-size: large;
}


#click {
  background: #2257d9;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

/*https://projects.lukehaas.me/css-loaders/*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(34,87,217, 0.2);
  border-right: 1.1em solid rgba(34,87,217, 0.2);
  border-bottom: 1.1em solid rgba(34,87,217, 0.2);
  border-left: 1.1em solid #2257d9;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

<div class="loader" id="loader">Loading DataRose...</div>

<center><a id="click" style="display:none" href="https://app.datarose.org" target="_blank">Click here to open this notebook in DataRose</a></center>
<script type="text/javascript">
const DATA = "{\"state\":{\"config\":{},\"connect\":{\"active\":\"sqlite\",\"status\":\"unconfigured\"},\"trash\":{\"open\":false,\"cells\":[{\"query\":\"select * from \\\"#freq\\\" limit 10\",\"id\":\"6phf735\",\"error\":\"Uncaught abort(\\\"Cannot enlarge memory arrays. Either (1) compile with  -s TOTAL_MEMORY=X  with X higher than the current value 16777216, (2) compile with  -s ALLOW_MEMORY_GROWTH=1  which adjusts the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a higher value before the program runs, or if you want malloc to return NULL (0) instead of this abort, compile with  -s ABORTING_MALLOC=0 \\\") at Error\\n    at Ra (http://localhost:3000/57699185a9020c2a065a.worker.js:23451:124)\\n    at Qa (http://localhost:3000/57699185a9020c2a065a.worker.js:23451:22)\\n    at p (http://localhost:3000/57699185a9020c2a065a.worker.js:23901:103)\\n    at Function.ba [as Gb] (http://localhost:3000/57699185a9020c2a065a.worker.js:23431:164)\\n    at Ia (http://localhost:3000/57699185a9020c2a065a.worker.js:23810:297)\\n    at JR (http://localhost:3000/57699185a9020c2a065a.worker.js:23880:142577)\\n    at Array.Tu (http://localhost:3000/57699185a9020c2a065a.worker.js:23881:14664)\\n    at _O (http://localhost:3000/57699185a9020c2a065a.worker.js:23880:61491)\\n    at $f (http://localhost:3000/57699185a9020c2a065a.worker.js:23873:92361)\\n    at Ch (http://localhost:3000/57699185a9020c2a065a.worker.js:23873:146713)\\nIf this abort() is unexpected, build with -s ASSERTIONS=1 which can give more information.\",\"loading\":false},{\"query\":\"SELECT\\n    \\\"DR Number\\\", \\n    \\\"Date Reported\\\", \\n    \\\"Date Occurred\\\", \\n    \\\"Time Occurred\\\", \\n    \\\"Area ID\\\", \\n    \\\"Area Name\\\", \\n    \\\"Reporting District\\\", \\n    \\\"Crime Code\\\", \\n    \\\"Crime Code Description\\\", \\n    \\\"MO Codes\\\", \\n    \\\"Victim Age\\\", \\n    \\\"Victim Sex\\\", \\n    \\\"Premise Code\\\", \\n    \\\"Premise Description\\\", \\n    \\\"Weapon Used Code\\\", \\n    \\\"Weapon Description\\\", \\n    \\\"Status Code\\\", \\n    \\\"Status Description\\\", \\n    \\\"Crime Code 1\\\", \\n    \\\"Crime Code 2\\\", \\n    \\\"Crime Code 3\\\", \\n    \\\"Crime Code 4\\\", \\n    \\\"Address\\\", \\n    \\\"Cross Street\\\", \\n    \\\"Latitude\\\", \\n    \\\"Longitude\\\"\\nFROM \\\"geo_crime\\\"\\nLIMIT 1000\",\"id\":\"h4bua9n\",\"error\":null,\"loading\":false,\"result\":{\"columns\":[\"DR Number\",\"Date Reported\",\"Date Occurred\",\"Time Occurred\",\"Area ID\",\"Area Name\",\"Reporting District\",\"Crime Code\",\"Crime Code Description\",\"MO Codes\",\"Victim Age\",\"Victim Sex\",\"Premise Code\",\"Premise Description\",\"Weapon Used Code\",\"Weapon Description\",\"Status Code\",\"Status Description\",\"Crime Code 1\",\"Crime Code 2\",\"Crime Code 3\",\"Crime Code 4\",\"Address\",\"Cross Street\",\"Latitude\",\"Longitude\"],\"values\":[[171221285,42972,42972,2140,12,\"77th Street\",1235,624,\"BATTERY - SIMPLE ASSAULT\",\"0416 0446 0305 0429 1822\",40,\"M\",108,\"PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",624,0,0,0,\"1500 W  62ND                         ST\",\"0\",33.9862,-118.3002],[171304875,42751.04167,42751.04167,1440,13,\"Newton\",1363,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1814 0446 0416 0421 0432 0444 1309\",18,\"F\",122,\"VEHICLE, PASSENGER/TRUCK\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",626,930,0,0,\"45TH                         ST\",\"CENTRAL                      AV\",33.9983,-118.2608],[171307057,42786.04167,42780.04167,2000,13,\"Newton\",1377,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"SLAUSON                      AV\",\"TOWNE                        AV\",33.9921,-118.243],[171307189,42788.04167,42786.04167,730,13,\"Newton\",1383,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"200 E  60TH                         ST\",\"0\",33.9852,-118.2718],[171307442,42793.04167,42793.04167,1330,13,\"Newton\",1331,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"0329 1307\",30,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"2800 S  MAIN                         ST\",\"0\",34.0231,-118.2698],[171309393,42824,42803.04167,1930,13,\"Newton\",1361,210,\"ROBBERY\",\"0344 0355 0305 0408 0416\",43,\"M\",102,\"SIDEWALK\",200,\"KNIFE WITH BLADE 6INCHES OR LESS\",\"IC\",\"Invest Cont\",210,0,0,0,\"BROADWAY\",\"52ND\",33.9958,-118.2783],[171311472,42855,42855,2040,13,\"Newton\",1365,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1813 0448 0446 0416 1309\",25,\"F\",104,\"DRIVEWAY\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"1400 E  48TH                         ST\",\"0\",34.0002,-118.2499],[171311562,42856,42855,2230,13,\"Newton\",1371,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0913 0432 0421 0561 0319\",49,\"M\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"AO\",\"Adult Other\",930,0,0,0,\"100 W  54TH                         ST\",\"0\",33.9934,-118.2739],[171311615,42857,42855,2200,13,\"Newton\",1371,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0421 0432\",46,\"M\",102,\"SIDEWALK\",511,\"VERBAL THREAT\",\"AO\",\"Adult Other\",930,0,0,0,\"100 W  54TH                         ST\",\"0\",33.9934,-118.2739],[171312184,42866,42866,325,13,\"Newton\",1322,901,\"VIOLATION OF RESTRAINING ORDER\",\"913\",39,\"M\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"AO\",\"Adult Other\",901,0,0,0,\"2200    TRINITY                      ST\",\"0\",34.0263,-118.2609],[171312639,42873,42873,155,13,\"Newton\",1307,110,\"CRIMINAL HOMICIDE\",\"1402 0411 0334 0906\",30,\"M\",102,\"SIDEWALK\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"AA\",\"Adult Arrest\",110,998,0,0,\"700    CROCKER                      ST\",\"0\",34.0401,-118.2459],[171312720,42874,42874,1030,13,\"Newton\",1347,210,\"ROBBERY\",\"1309 0344 2000 0330 0913 0319 0400\",37,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AO\",\"Adult Other\",210,0,0,0,\"1500 E  MARTIN LUTHER KING JR        BL\",\"0\",34.0113,-118.2493],[171312756,42874,42874,1800,13,\"Newton\",1323,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1309 1243 1813 0446 0416\",22,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"54TH                         ST\",\"CENTRAL                      AV\",34.0219,-118.2571],[171312769,42874,42874,2320,13,\"Newton\",1364,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"0913 1814 0216 2000 0416\",18,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AA\",\"Adult Arrest\",626,0,0,0,\"1100 E  45TH                         ST\",\"0\",34.003,-118.2565],[171312984,42878,42877,1200,13,\"Newton\",1352,210,\"ROBBERY\",\"0416 2000 0913 0344\",25,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AO\",\"Adult Other\",210,626,0,0,\"4400    METTLER                      ST\",\"0\",34.0039,-118.2665],[171313013,42873,42873,100,13,\"Newton\",1307,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1243 0416\",35,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AA\",\"Adult Arrest\",626,0,0,0,\"CROCKER\",\"8TH                          ST\",34.0378,-118.2483],[171313038,42879,42879,620,13,\"Newton\",1327,901,\"VIOLATION OF RESTRAINING ORDER\",\"0602 0561 0216\",58,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"AO\",\"Adult Other\",901,0,0,0,\"1500 E  21ST                         ST\",\"0\",34.0197,-118.2474],[171418927,42966,42965,2330,14,\"Pacific\",1455,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",707,\"GARAGE/CARPORT\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"12500    BRADDOCK                     DR\",\"0\",33.9878,-118.4215],[171313130,42880,42880,1400,13,\"Newton\",1341,210,\"ROBBERY\",\"344\",33,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"37TH                         ST\",\"HILL                         ST\",34.0163,-118.2771],[171313216,42881,42881,1700,13,\"Newton\",1322,901,\"VIOLATION OF RESTRAINING ORDER\",\"913\",24,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"AO\",\"Adult Other\",901,0,0,0,\"600 E  22ND                         ST\",\"0\",34.0258,-118.2613],[171313347,42884,42883,2300,13,\"Newton\",1383,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"200 E  61ST                         ST\",\"0\",33.9843,-118.2718],[171313636,42888,42887,1530,13,\"Newton\",1341,761,\"BRANDISH WEAPON\",\"0432 0913 1251 0334 1259 0216\",14,\"M\",101,\"STREET\",207,\"OTHER KNIFE\",\"IC\",\"Invest Cont\",761,930,0,0,\"36TH                         ST\",\"BROADWAY\",34.0169,-118.2742],[171313695,42889,42889,1100,13,\"Newton\",1341,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"0329 1307 2004\",0,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"HILL                         ST\",\"MARTIN LUTHER KING JR        BL\",34.0111,-118.28],[171313949,42888,42888,10,13,\"Newton\",1323,624,\"BATTERY - SIMPLE ASSAULT\",\"416\",61,\"M\",934,\"0\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"WASHINGTON                   BL\",\"SAN PEDRO\",34.0219,-118.2571],[171314029,42892,42863,1710,13,\"Newton\",1321,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0421 0913\",0,\"M\",203,\"OTHER BUSINESS\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"1900 S  BROADWAY\",\"0\",34.0316,-118.2657],[171314201,42896,42896,400,13,\"Newton\",1317,330,\"BURGLARY FROM VEHICLE\",\"1609 1307 0344 1309\",26,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"16TH                         ST\",\"STAUNTON                     AV\",34.0232,-118.2409],[171314230,42897,42897,1015,13,\"Newton\",1375,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1814 0913 0401 0416\",26,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"1100 E  58TH                         ST\",\"0\",33.9902,-118.2564],[171314547,42901,42901,1920,13,\"Newton\",1383,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0334 0302 0429 1407 1100 0430 1822 0309 0906\",20,\"F\",101,\"STREET\",102,\"HAND GUN\",\"IC\",\"Invest Cont\",230,998,0,0,\"MAIN                         ST\",\"GAGE                         AV\",33.9824,-118.2739],[171314549,42901,42901,1920,13,\"Newton\",1383,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0302 0334 0429 0430 1822 0309 0906\",18,\"F\",101,\"STREET\",102,\"HAND GUN\",\"IC\",\"Invest Cont\",230,0,0,0,\"MAIN                         ST\",\"GAGE                         AV\",33.9824,-118.2739],[171314727,42905,42905,1310,13,\"Newton\",1383,624,\"BATTERY - SIMPLE ASSAULT\",\"0913 0416 0444\",30,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"5800    BRENTWOOD                    ST\",\"0\",33.9881,-118.2772],[171314826,42906,42906,1740,13,\"Newton\",1363,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0448 0429 0416\",23,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"700 E  52ND                         ST\",\"0\",33.9983,-118.2608],[171314933,42908,42908,1150,13,\"Newton\",1367,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0913 0444 0416 1248 1814 1813\",18,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AA\",\"Adult Arrest\",626,0,0,0,\"1600 E  VERNON                       AV\",\"0\",34.0039,-118.2454],[171314948,42908,42906,1600,13,\"Newton\",1367,624,\"BATTERY - SIMPLE ASSAULT\",\"1259 0416 0913\",17,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"1800 E  51ST                         ST\",\"0\",33.9962,-118.2398],[171315541,42918,42918,500,13,\"Newton\",1393,210,\"ROBBERY\",\"1022 0334 0443 0344\",26,\"M\",101,\"STREET\",312,\"PIPE/METAL PIPE\",\"IC\",\"Invest Cont\",210,0,0,0,\"GAGE                         AV\",\"BROADWAY                     AV\",33.9824,-118.2783],[171315681,42920,42920,1350,13,\"Newton\",1364,210,\"ROBBERY\",\"0340 0342 0429 0336 0352 0417\",61,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"49TH                         ST\",\"CENTRAL                      AV\",33.9989,-118.2565],[171315698,42920,42920,1930,13,\"Newton\",1371,210,\"ROBBERY\",\"0344 0445 0417 0342 1822\",32,\"M\",101,\"STREET\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"IC\",\"Invest Cont\",210,0,0,0,\"GRAND                        AV\",\"55TH                         ST\",33.9924,-118.28],[171315764,42921,42919,1700,13,\"Newton\",1363,210,\"ROBBERY\",\"0446 0416 0344 1309 0444 0429\",47,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"CENTRAL                      AV\",\"51ST                         ST\",33.9971,-118.2565],[171315861,42922,42922,2310,13,\"Newton\",1361,220,\"ATTEMPTED ROBBERY\",\"0416 0342 0216 0305 0327\",35,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",220,0,0,0,\"4600 S  BROADWAY\",\"0\",34.002,-118.2783],[171316020,42924,42924,900,13,\"Newton\",1371,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1814 0913 0416 0319\",21,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"200 W  58TH                         ST\",\"0\",33.9898,-118.2761],[171316037,42923,42923,1715,13,\"Newton\",1385,624,\"BATTERY - SIMPLE ASSAULT\",\"1701 0444 1202 0603\",76,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",624,0,0,0,\"500 E  GAGE                         AV\",\"0\",33.9825,-118.2659],[171316038,42923,42923,1715,13,\"Newton\",1385,624,\"BATTERY - SIMPLE ASSAULT\",\"1701 0446 0416 0603\",14,\"M\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",624,0,0,0,\"500 E  GAGE                         AV\",\"0\",33.9825,-118.2659],[171316183,42928,42928,100,13,\"Newton\",1342,210,\"ROBBERY\",\"0337 0416 0432 0344 1822\",16,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"300 E  35TH                         ST\",\"0\",34.0164,-118.2699],[171316376,42930,42930,1450,13,\"Newton\",1363,210,\"ROBBERY\",\"1309 0344 0352 1221 0355 0336 0432 0319 0305 1822\",18,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"51ST                         ST\",\"MCKINLEY\",33.9966,-118.2608],[171316597,42934,42934,1130,13,\"Newton\",1309,900,\"VIOLATION OF COURT ORDER\",\"913\",0,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",900,0,0,0,\"1800 E  OLYMPIC                      BL\",\"0\",34.0276,-118.2391],[171316608,42934,42934,1,13,\"Newton\",1365,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0302 0334 0421 0432 0361\",37,\"M\",102,\"SIDEWALK\",102,\"HAND GUN\",\"IC\",\"Invest Cont\",230,0,0,0,\"1400 E  53RD                         ST\",\"0\",33.9994,-118.2499],[171316943,42939,42939,1645,13,\"Newton\",1324,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0432 1309\",49,\"M\",101,\"STREET\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"22ND                         ST\",\"NAOMI                        ST\",34.0202,-118.2505],[171316951,42939,42939,1745,13,\"Newton\",1331,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"0913 1813 2000 0448\",27,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"200 W  27TH                         ST\",\"0\",34.0248,-118.2715],[171316978,42937,42937,1345,13,\"Newton\",1393,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 2000 1814 0605 0447 0416\",50,\"F\",101,\"STREET\",302,\"BLUNT INSTRUMENT\",\"IC\",\"Invest Cont\",230,0,0,0,\"6800 S  BROADWAY\",\"0\",33.9782,-118.2783],[171317776,42952,42951,1300,13,\"Newton\",1362,761,\"BRANDISH WEAPON\",\"0302 0334 0421\",23,\"M\",108,\"PARKING LOT\",113,\"SIMULATED GUN\",\"IC\",\"Invest Cont\",761,930,0,0,\"300 E  51ST                         ST\",\"0\",33.9966,-118.2701],[171317813,42953,42953,945,13,\"Newton\",1313,210,\"ROBBERY\",\"1218 1202 0334 0344 0355 0411 0420 0370 0416\",67,\"M\",102,\"SIDEWALK\",200,\"KNIFE WITH BLADE 6INCHES OR LESS\",\"IC\",\"Invest Cont\",210,0,0,0,\"PALOMA                       ST\",\"18TH                         ST\",34.0254,-118.2525],[171317860,42953,42953,815,13,\"Newton\",1367,220,\"ATTEMPTED ROBBERY\",\"2000 0444 0408 1241 1243 1813\",44,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AO\",\"Adult Other\",220,236,0,0,\"1600 E  47TH                         ST\",\"0\",34.001,-118.2459],[171317865,42954,42952,1800,13,\"Newton\",1317,210,\"ROBBERY\",\"0344 0334 0432\",46,\"M\",101,\"STREET\",206,\"SWITCH BLADE\",\"IC\",\"Invest Cont\",210,0,0,0,\"CENTRAL                      AV\",\"WASHINGTON                   BL\",34.0238,-118.2511],[171318014,42956,42956,745,13,\"Newton\",1317,624,\"BATTERY - SIMPLE ASSAULT\",\"416\",52,\"M\",935,\"0\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"1900    LONG BEACH                   AV\",\"0\",34.0206,-118.2428],[171318016,42956,42954,1930,13,\"Newton\",1341,210,\"ROBBERY\",\"1309 1313 1822 0342 0302 0420 0370 0344 0352 0421\",27,\"M\",102,\"SIDEWALK\",109,\"SEMI-AUTOMATIC PISTOL\",\"IC\",\"Invest Cont\",210,0,0,0,\"BROADWAY\",\"38TH                         ST\",34.0141,-118.277],[171318020,42956,42954,800,13,\"Newton\",1351,236,\"INTIMATE PARTNER - AGGRAVATED ASSAULT\",\"2000 1813 0416 0446 0429 0417\",23,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",236,0,0,0,\"4000 S  BROADWAY\",\"0\",34.0111,-118.2784],[171318022,42956,42956,1630,13,\"Newton\",1333,627,\"CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT\",\"0553 0602 1259 1251 0416\",17,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",627,0,0,0,\"400 E  29TH                         ST\",\"0\",34.021,-118.267],[171318037,42956,42956,1750,13,\"Newton\",1313,624,\"BATTERY - SIMPLE ASSAULT\",\"0416 0910\",44,\"M\",934,\"0\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"SAN PEDRO                    ST\",\"WASHINGTON                   BL\",34.0277,-118.2574],[171318268,42959,42959,330,13,\"Newton\",1385,236,\"INTIMATE PARTNER - AGGRAVATED ASSAULT\",\"1243 1813 2000 0416 0408\",51,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AO\",\"Adult Other\",236,0,0,0,\"5900    AVALON                       BL\",\"0\",33.9874,-118.2652],[171318330,42960,42960,600,13,\"Newton\",1375,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0447 0416 1813\",54,\"M\",121,\"YARD (RESIDENTIAL/BUSINESS)\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"AO\",\"Adult Other\",626,0,0,0,\"58TH                         ST\",\"ASCOT                        ST\",33.9902,-118.2499],[171318347,42961,42961,300,13,\"Newton\",1307,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",108,\"PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"7TH\",\"ALAMEDA\",34.035,-118.2386],[171318429,42962,42962,835,13,\"Newton\",1313,220,\"ATTEMPTED ROBBERY\",\"1402 0344\",31,\"M\",102,\"SIDEWALK\",200,\"KNIFE WITH BLADE 6INCHES OR LESS\",\"AA\",\"Adult Arrest\",220,998,0,0,\"800 E  14TH                         PL\",\"0\",34.0298,-118.2521],[171318458,42962,42962,2330,13,\"Newton\",1346,251,\"SHOTS FIRED AT INHABITED DWELLING\",\"1100 1407 0906\",29,\"M\",501,\"SINGLE FAMILY DWELLING\",109,\"SEMI-AUTOMATIC PISTOL\",\"IC\",\"Invest Cont\",251,998,0,0,\"1300 E  43RD                         ST\",\"0\",34.0058,-118.2521],[171318461,42962,42962,2105,13,\"Newton\",1391,210,\"ROBBERY\",\"0346 0377 0342 0337 0355 0316 0416 0446 1223\",34,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",210,0,0,0,\"69TH\",\"GRAND                        AV\",33.9774,-118.2803],[171318533,42963,42963,1410,13,\"Newton\",1331,220,\"ATTEMPTED ROBBERY\",\"1252 0355 0446 0416\",45,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"AO\",\"Adult Other\",220,0,0,0,\"MAIN                         ST\",\"33RD                         ST\",34.0194,-118.2722],[171318572,42964,42963,1430,13,\"Newton\",1354,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"200 E  MARTIN LUTHER KING JR        BL\",\"0\",34.0112,-118.2716],[171318579,42964,42963,1500,13,\"Newton\",1361,330,\"BURGLARY FROM VEHICLE\",\"344\",43,\"F\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"4900 S  BROADWAY\",\"0\",33.9983,-118.2783],[171318580,42964,42963,2100,13,\"Newton\",1354,330,\"BURGLARY FROM VEHICLE\",\"344\",24,\"M\",108,\"PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"MAIN                         ST\",\"41ST                         ST\",34.0091,-118.274],[171318588,42964,42964,835,13,\"Newton\",1372,330,\"BURGLARY FROM VEHICLE\",\"1609 0344\",25,\"F\",721,\"HIGH SCHOOL\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"300 E  53RD                         ST\",\"0\",33.9943,-118.2701],[171318599,42964,42964,1445,13,\"Newton\",1313,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"329\",0,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"600 E  WASHINGTON                   BL\",\"0\",34.0286,-118.2592],[171318608,42964,42964,1210,13,\"Newton\",1373,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1300 1309 1100 0340 1407 0906\",20,\"M\",101,\"STREET\",102,\"HAND GUN\",\"IC\",\"Invest Cont\",230,998,0,0,\"56TH                         ST\",\"CENTRAL\",33.9916,-118.2564],[171318617,42964,42964,1630,13,\"Newton\",1385,330,\"BURGLARY FROM VEHICLE\",\"1609 0344 1309 1300\",37,\"F\",108,\"PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"5800 S  CENTRAL                      AV\",\"0\",33.9857,-118.2628],[171318623,42964,42964,1225,13,\"Newton\",1352,860,\"BATTERY WITH SEXUAL CONTACT\",\"0448 0408 0421 0522 0531\",35,\"F\",203,\"OTHER BUSINESS\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",860,0,0,0,\"4400 S  MAIN                         ST\",\"0\",34.0038,-118.274],[171318625,42964,42964,700,13,\"Newton\",1395,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"0344 1300\",24,\"M\",104,\"DRIVEWAY\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"400 E  65TH                         ST\",\"0\",33.9806,-118.2681],[171318627,42964,42964,2200,13,\"Newton\",1361,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"344\",65,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"100 W  47TH                         PL\",\"0\",34.0001,-118.274],[171318628,42964,42964,355,13,\"Newton\",1381,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"344\",46,\"M\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"5900 S  OLIVE                        ST\",\"0\",33.9877,-118.2794],[171318629,42964,42964,1740,13,\"Newton\",1323,341,\"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD0036\",\"344\",50,\"F\",128,\"BUS STOP OR LAYOVER\",0,\"0\",\"IC\",\"Invest Cont\",341,0,0,0,\"24TH                         ST\",\"CENTRAL                      AV\",34.0206,-118.2541],[171318633,42964,42964,1330,13,\"Newton\",1394,624,\"BATTERY - SIMPLE ASSAULT\",\"1251 1258 0416 0446 0913\",13,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"69TH                         ST\",\"MAIN                         ST\",33.977,-118.2739],[171318641,42965,42965,200,13,\"Newton\",1393,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 1813 0913 1243\",45,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"100 W  64TH                         ST\",\"0\",33.9814,-118.2739],[171318643,42964,42964,530,13,\"Newton\",1321,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"344\",43,\"M\",129,\"TERMINAL\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"FLOWER                       ST\",\"23RD                         ST\",34.0288,-118.2739],[171318654,42965,42964,2245,13,\"Newton\",1364,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"1606 0344\",40,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"4800 S  CENTRAL                      AV\",\"0\",33.9999,-118.2565],[171318655,42965,42964,1030,13,\"Newton\",1333,664,\"BUNCO, PETTY THEFT\",\"0344 0701 0800 1916\",38,\"M\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",664,0,0,0,\"1000 E  27TH                         ST\",\"0\",34.0184,-118.2568],[171318656,42965,42844,1400,13,\"Newton\",1317,664,\"BUNCO, PETTY THEFT\",\"0344 0701 0800\",33,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",664,0,0,0,\"1900 S  ALAMEDA                      ST\",\"0\",34.0245,-118.244],[171318657,42965,42919,100,13,\"Newton\",1347,946,\"OTHER MISCELLANEOUS CRIME\",\"0421 0319 0311\",54,\"M\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",0,\"0\",\"IC\",\"Invest Cont\",946,0,0,0,\"1500 E  MARTIN LUTHER KING JR        BL\",\"0\",34.0113,-118.2493],[171318658,42965,42830,1200,13,\"Newton\",1363,900,\"VIOLATION OF COURT ORDER\",\"913\",38,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",0,\"0\",\"IC\",\"Invest Cont\",900,0,0,0,\"5000 S  CENTRAL                      AV\",\"0\",33.9983,-118.2608],[171318659,42965,42965,806,13,\"Newton\",1372,624,\"BATTERY - SIMPLE ASSAULT\",\"0913 0416\",22,\"F\",704,\"ELEMENTARY SCHOOL\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"100 E  53RD                         ST\",\"0\",33.9943,-118.2739],[171318660,42965,42962,900,13,\"Newton\",1385,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"1309 2000 1243 1813 0913 0448 0416 1814 0429\",28,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"400 E  62ND                         ST\",\"0\",33.9834,-118.2674],[171318661,42965,42965,1030,13,\"Newton\",1343,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"1309 2000 0334 0913 0416 0202 1814 1218\",35,\"F\",103,\"ALLEY\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"IC\",\"Invest Cont\",626,0,0,0,\"AVALON                       BL\",\"VERNON\",34.0114,-118.2624],[171318662,42965,42965,1630,13,\"Newton\",1317,210,\"ROBBERY\",\"1218 0431 0344 0352 1221 0305\",42,\"F\",935,\"0\",512,\"MACE/PEPPER SPRAY\",\"IC\",\"Invest Cont\",210,0,0,0,\"WASHINGTON                   BL\",\"LONG BEACH\",34.0206,-118.2428],[171318672,42965,42963,1840,13,\"Newton\",1321,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"344\",20,\"M\",717,\"HEALTH SPA/GYM\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"100 E  WASHINGTON                   BL\",\"0\",34.0311,-118.2646],[171318676,42966,42965,1700,13,\"Newton\",1394,210,\"ROBBERY\",\"0344 0416 0446 1311 0419 2002 0429 0448 0330\",31,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,510,0,0,\"68TH                         ST\",\"SAN PEDRO\",33.9779,-118.2695],[171318681,42966,42966,1025,13,\"Newton\",1385,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0906 1309 0334 1407 0903 1100 0430 0309 0319 0302\",31,\"F\",101,\"STREET\",106,\"UNKNOWN FIREARM\",\"IC\",\"Invest Cont\",230,998,0,0,\"62ND                         ST\",\"SAN PEDRO\",33.9834,-118.2695],[171318682,42966,42966,1030,13,\"Newton\",1385,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"0329 1100\",29,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"6200 S  SAN PEDRO                    ST\",\"0\",33.9834,-118.2695],[171318689,42966,42966,925,13,\"Newton\",1394,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"0344 0352 1221 0325\",0,\"F\",202,\"LIQUOR STORE\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"6800 S  MAIN                         ST\",\"0\",33.9779,-118.2739],[171318690,42965,42958,1000,13,\"Newton\",1313,341,\"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD0036\",\"0344 0100 1803 0701\",0,\"F\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",341,0,0,0,\"700 E  14TH                         ST\",\"0\",34.0322,-118.2544],[171318692,42965,42965,1300,13,\"Newton\",1307,350,\"THEFT, PERSON\",\"0344 0202 0400\",55,\"M\",202,\"LIQUOR STORE\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",350,0,0,0,\"800 S  SAN PEDRO                    ST\",\"0\",34.0386,-118.249],[171318695,42965,42795.04167,1300,13,\"Newton\",1364,354,\"THEFT OF IDENTITY\",\"0100 1259 1251\",17,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",0,\"0\",\"IC\",\"Invest Cont\",354,0,0,0,\"1200 E  48TH                         ST\",\"0\",33.9999,-118.2543],[171318696,42965,42965,800,13,\"Newton\",1361,624,\"BATTERY - SIMPLE ASSAULT\",\"0602 0416 0562\",33,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"100 W  49TH                         ST\",\"0\",33.9984,-118.274],[171318697,42966,42946,1430,13,\"Newton\",1317,664,\"BUNCO, PETTY THEFT\",\"800\",43,\"F\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",664,0,0,0,\"1900 S  ALAMEDA                      ST\",\"0\",34.0245,-118.244],[171318699,42966,42966,500,13,\"Newton\",1373,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0913 0432 1810 0319\",20,\"F\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"600 E  55TH                         ST\",\"0\",33.9925,-118.2652],[171318700,42965,42965,1930,13,\"Newton\",1324,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0421 0913\",40,\"F\",101,\"STREET\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"21ST                         ST\",\"CENTRAL                      AV\",34.0245,-118.244],[171318701,42965,42965,2030,13,\"Newton\",1351,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0603 0361 0913 0400\",46,\"F\",108,\"PARKING LOT\",307,\"VEHICLE\",\"IC\",\"Invest Cont\",230,0,0,0,\"200 W  VERNON                       AV\",\"0\",34.0075,-118.2775],[171318702,42966,42965,2000,13,\"Newton\",1377,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"1700 E  57TH                         ST\",\"0\",33.9913,-118.2432],[171318703,42965,42965,345,13,\"Newton\",1347,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0334 0319 0432 1206 0302\",32,\"M\",501,\"SINGLE FAMILY DWELLING\",109,\"SEMI-AUTOMATIC PISTOL\",\"IC\",\"Invest Cont\",230,0,0,0,\"1500 E  VERNON                       AV\",\"0\",34.0096,-118.244],[171318704,42966,42966,435,13,\"Newton\",1371,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0334 0416\",27,\"M\",101,\"STREET\",304,\"CLUB/BAT\",\"IC\",\"Invest Cont\",230,0,0,0,\"54TH                         ST\",\"GRAND                        AV\",33.9933,-118.28],[171318705,42966,42965,1300,13,\"Newton\",1341,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0416 1218\",50,\"M\",101,\"STREET\",114,\"AIR PISTOL/REVOLVER/RIFLE/BB GUN\",\"IC\",\"Invest Cont\",230,0,0,0,\"39TH                         ST\",\"BROADWAY\",34.0126,-118.278],[171318706,42966,42966,1145,13,\"Newton\",1353,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0334 1218 0416\",56,\"M\",203,\"OTHER BUSINESS\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"IC\",\"Invest Cont\",230,0,0,0,\"VERNON                       AV\",\"CENTRAL                      AV\",34.0039,-118.2565],[171318707,42965,42965,1905,13,\"Newton\",1309,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"0329 0311 0216\",16,\"M\",239,\"MEDICAL MARIJUANA FACILITIES/BUSINESSES\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"2000    SACRAMENTO                   ST\",\"0\",34.0306,-118.2322],[171318711,42965,42965,1000,13,\"Newton\",1323,901,\"VIOLATION OF RESTRAINING ORDER\",\"1202 0561 0602 2004\",80,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",515,\"PHYSICAL PRESENCE\",\"IC\",\"Invest Cont\",901,0,0,0,\"1100 E  24TH                         ST\",\"0\",34.0216,-118.2564],[171318712,42965,42965,1600,13,\"Newton\",1307,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"0329 2004 1202\",67,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"700 S  SAN PEDRO                    ST\",\"0\",34.0407,-118.2468],[171318716,42966,42966,600,13,\"Newton\",1393,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"69TH                         ST\",\"MAIN\",33.9774,-118.2739],[171318719,42966,42901,1200,13,\"Newton\",1364,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"1606 0344\",45,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"4800 S  CENTRAL                      AV\",\"0\",33.9999,-118.2565],[171318720,42966,42966,1200,13,\"Newton\",1341,330,\"BURGLARY FROM VEHICLE\",\"1609 1307 0344 0352 1221 0358 0321 1251\",30,\"M\",102,\"SIDEWALK\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"35TH                         ST\",\"HOPE                         ST\",34.0193,-118.2785],[171318722,42967,42966,2315,13,\"Newton\",1317,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"54TH                         ST\",\"BROADWAY\",34.0245,-118.244],[171318723,42967,42967,200,13,\"Newton\",1377,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",104,\"DRIVEWAY\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"5500    HOLMES                       AV\",\"0\",33.993,-118.2411],[171318728,42967,42967,200,13,\"Newton\",1317,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 1409 2000 1240 0913 0407\",37,\"F\",101,\"STREET\",506,\"FIRE\",\"AA\",\"Adult Arrest\",230,998,0,0,\"HOOPER                       AV\",\"15TH                         ST\",34.0248,-118.2441],[171318729,42966,42966,915,13,\"Newton\",1327,210,\"ROBBERY\",\"0344 0325 0444 0104 0378\",0,\"M\",202,\"LIQUOR STORE\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"1500 E  22ND                         ST\",\"0\",34.0189,-118.2481],[171318098,42957,42956,1800,13,\"Newton\",1372,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"E  52ND                         ST\",\"MAIN                         ST\",33.9952,-118.274],[171318174,42957,42957,1330,13,\"Newton\",1363,901,\"VIOLATION OF RESTRAINING ORDER\",\"913\",44,\"F\",101,\"STREET\",0,\"0\",\"AA\",\"Adult Arrest\",901,0,0,0,\"51ST                         ST\",\"AVALON                       BL\",33.9966,-118.2652],[171318175,42804.04167,42804.04167,1330,13,\"Newton\",1395,901,\"VIOLATION OF RESTRAINING ORDER\",\"913\",64,\"M\",101,\"STREET\",0,\"0\",\"AA\",\"Adult Arrest\",901,0,0,0,\"7000 S  SAN PEDRO                    ST\",\"0\",33.9762,-118.2695],[171318229,42959,42959,140,13,\"Newton\",1371,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"400\",32,\"M\",104,\"DRIVEWAY\",201,\"KNIFE WITH BLADE OVER 6 INCHES IN LENGTH\",\"IC\",\"Invest Cont\",230,0,0,0,\"200 W  55TH                         ST\",\"0\",33.9924,-118.2761],[171318266,42959,42952,1500,13,\"Newton\",1313,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"1307 0329\",58,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"15TH\",\"SAN PEDRO\",34.0307,-118.2554],[171318274,42959,42959,1700,13,\"Newton\",1303,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"0344 1300\",49,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"OLYMPIC\",\"CENTRAL\",34.032,-118.2441],[171318275,42959,42959,1850,13,\"Newton\",1331,330,\"BURGLARY FROM VEHICLE\",\"1609 0344\",27,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"BROADWAY\",\"33RD\",34.0192,-118.2738],[171318277,42959,42959,1056,13,\"Newton\",1321,331,\"THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)\",\"0344 2000 1813\",50,\"F\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",331,0,0,0,\"2500 S  GRAND                        AV\",\"0\",34.0274,-118.2717],[171318294,42960,42960,500,13,\"Newton\",1321,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"0329 0311 0910\",0,\"X\",135,\"MTA PROPERTY OR PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"FLOWER                       ST\",\"ADAMS                        BL\",34.0289,-118.2686],[171318316,42960,42960,630,13,\"Newton\",1324,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0421 0432 0913\",39,\"F\",101,\"STREET\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"2000 S  CENTRAL                      AV\",\"0\",34.0233,-118.2516],[171318369,42961,42961,1355,13,\"Newton\",1341,350,\"THEFT, PERSON\",\"0344 1309\",38,\"F\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",350,0,0,0,\"JEFFERSON\",\"BROADWAY\",34.0197,-118.2749],[171318370,42961,42960,1640,13,\"Newton\",1364,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0913 0421\",39,\"F\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"1100 E  48TH                         ST\",\"0\",33.9998,-118.2565],[171318371,42961,42956,2230,13,\"Newton\",1365,761,\"BRANDISH WEAPON\",\"1822 0371 0906 0312 0432 0334\",46,\"F\",501,\"SINGLE FAMILY DWELLING\",101,\"REVOLVER\",\"IC\",\"Invest Cont\",761,930,0,0,\"1300 E  46TH                         ST\",\"0\",34.0021,-118.2521],[171318378,42961,42951,200,13,\"Newton\",1365,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0432 0602 0334 0421 1202 0561\",62,\"F\",501,\"SINGLE FAMILY DWELLING\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"AA\",\"Adult Arrest\",930,0,0,0,\"5100    HOOPER                       AV\",\"0\",33.9967,-118.2521],[171318403,42961,42959,1700,13,\"Newton\",1362,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"344\",37,\"M\",109,\"PARK/PLAYGROUND\",0,\"0\",\"IC\",\"Invest Cont\",440,0,0,0,\"300 E  51ST                         ST\",\"0\",33.9966,-118.2701],[171318421,42961,42961,1215,13,\"Newton\",1381,624,\"BATTERY - SIMPLE ASSAULT\",\"1601 0356 0416\",20,\"F\",504,\"OTHER RESIDENCE\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"300 W  61ST                         ST\",\"0\",33.9842,-118.2783],[171318466,42962,42962,2230,13,\"Newton\",1364,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0448 0400\",52,\"F\",509,\"MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"1100 E  45TH                         ST\",\"0\",34.003,-118.2565],[171318493,42963,42963,845,13,\"Newton\",1395,888,\"TRESPASSING\",\"1822 1000\",53,\"M\",203,\"OTHER BUSINESS\",515,\"PHYSICAL PRESENCE\",\"IC\",\"Invest Cont\",888,0,0,0,\"SAN PEDRO                    ST\",\"FLORENCE\",33.9747,-118.2695],[171318542,42963,42963,730,13,\"Newton\",1303,624,\"BATTERY - SIMPLE ASSAULT\",\"417\",35,\"F\",102,\"SIDEWALK\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"12TH                         ST\",\"SAN PEDRO                    ST\",34.0337,-118.2533],[171318573,42963,42963,1200,13,\"Newton\",1347,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0448 0444 1813\",22,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"1600 E  MARTIN LUTHER KING JR        BL\",\"0\",34.0106,-118.2465],[171318582,42963,42963,1930,13,\"Newton\",1365,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"329\",35,\"F\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"1400 E  47TH                         ST\",\"0\",34.0011,-118.2499],[171318600,42964,42963,900,13,\"Newton\",1321,354,\"THEFT OF IDENTITY\",\"0377 1822\",21,\"M\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",354,0,0,0,\"300 W  ADAMS                        BL\",\"0\",34.0289,-118.2686],[171318603,42964,42961,1746,13,\"Newton\",1383,649,\"DOCUMENT FORGERY / STOLEN FELONY\",\"0924 0100 1251\",20,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",649,0,0,0,\"100 W  59TH                         PL\",\"0\",33.9861,-118.2739],[171318624,42964,42964,815,13,\"Newton\",1345,354,\"THEFT OF IDENTITY\",\"377\",54,\"F\",602,\"BANK\",0,\"0\",\"IC\",\"Invest Cont\",354,0,0,0,\"1100 E  34TH                         ST\",\"0\",34.0128,-118.2565],[171318634,42964,42964,2100,13,\"Newton\",1363,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"2000 0400\",20,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"700 E  52ND                         ST\",\"0\",33.9983,-118.2608],[171318635,42965,42965,30,13,\"Newton\",1343,745,\"VANDALISM - MISDEAMEANOR ($399 OR UNDER)\",\"329\",23,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",745,0,0,0,\"3400 S  CENTRAL                      AV\",\"0\",34.0114,-118.2624],[171318648,42965,42962,1800,13,\"Newton\",1324,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0329 0421 1912\",39,\"M\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"1400 E  21ST                         ST\",\"0\",34.021,-118.2498],[171318680,42965,42965,1720,13,\"Newton\",1317,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"0329 1307 0202 1309\",0,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"CENTRAL                      AV\",\"15TH                         ST\",34.0272,-118.248],[171318683,42965,42965,1100,13,\"Newton\",1373,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"0329 0311\",36,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"800 E  53RD                         ST\",\"0\",33.9943,-118.2608],[171318691,42966,42865,1500,13,\"Newton\",1341,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"1307 0329 1251\",20,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"3400 S  GRAND                        AV\",\"0\",34.0202,-118.2761],[171318730,42966,42966,2200,13,\"Newton\",1343,210,\"ROBBERY\",\"0342 0344 0305 1202 0448\",61,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"41ST                         ST\",\"AVALON\",34.0092,-118.2652],[171318731,42967,42967,1500,13,\"Newton\",1373,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"SLAUSON                      BL\",\"CENTRAL                      AV\",33.9893,-118.2564],[171318732,42966,42966,2245,13,\"Newton\",1309,350,\"THEFT, PERSON\",\"1202 0344 0305 0400\",66,\"M\",203,\"OTHER BUSINESS\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",350,0,0,0,\"1700 E  7TH                          ST\",\"0\",34.0348,-118.2362],[171318733,42966,42955,1635,13,\"Newton\",1354,956,\"LETTERS, LEWD\",\"0913 0432\",39,\"M\",210,\"RESTAURANT/FAST FOOD\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",956,0,0,0,\"4000 S  SAN PEDRO                    ST\",\"0\",34.0083,-118.2719],[171318734,42967,42966,1830,13,\"Newton\",1342,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"1606 0344\",27,\"F\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"36TH                         PL\",\"MAPLE                        AV\",34.0149,-118.2709],[171318736,42966,42956,600,13,\"Newton\",1343,354,\"THEFT OF IDENTITY\",\"0344 0100 0930\",49,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",354,0,0,0,\"600 E  37TH                         ST\",\"0\",34.0128,-118.2653],[171318738,42967,42967,1,13,\"Newton\",1354,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"100 E  MARTIN LUTHER KING           BL\",\"0\",34.0111,-118.274],[171318739,42966,42966,1820,13,\"Newton\",1347,761,\"BRANDISH WEAPON\",\"0334 2000 1814 0913 1310 0329 0421 0906 1309\",26,\"F\",101,\"STREET\",215,\"MACHETE\",\"IC\",\"Invest Cont\",761,0,0,0,\"4300    LIMA                         ST\",\"0\",34.0058,-118.2462],[171318740,42967,42967,1200,13,\"Newton\",1313,330,\"BURGLARY FROM VEHICLE\",\"344\",38,\"F\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",330,0,0,0,\"15TH\",\"MYRTLE\",34.0317,-118.2572],[171318741,42967,42967,200,13,\"Newton\",1377,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"2000 1813 0913 0421\",34,\"F\",502,\"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"5500    HOLMES                       AV\",\"0\",33.993,-118.2411],[171318742,42966,42966,1300,13,\"Newton\",1333,624,\"BATTERY - SIMPLE ASSAULT\",\"0913 1202 0416\",61,\"M\",203,\"OTHER BUSINESS\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"3300 S  CENTRAL                      AV\",\"0\",34.0174,-118.2621],[171318743,42966,42966,1900,13,\"Newton\",1371,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0416 0429 0417\",31,\"M\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",230,0,0,0,\"BROADWAY\",\"58TH                         ST\",33.9898,-118.2783],[171318744,42966,42966,2010,13,\"Newton\",1365,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"0416 1813\",36,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"1400 E  46TH                         ST\",\"0\",34.0021,-118.2499],[171318745,42967,42967,215,13,\"Newton\",1313,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0416 0429\",27,\"M\",210,\"RESTAURANT/FAST FOOD\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",230,0,0,0,\"600 E  WASHINGTON                   BL\",\"0\",34.0286,-118.2592],[171318746,42967,42967,1100,13,\"Newton\",1351,231,\"ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER\",\"1212 0417 1240 1310\",0,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",101,\"REVOLVER\",\"AA\",\"Adult Arrest\",231,0,0,0,\"300 W  VERNON                       AV\",\"0\",34.0075,-118.2775],[171318747,42966,42965,2050,13,\"Newton\",1351,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0334 0302 0202 0432\",29,\"M\",301,\"GAS STATION\",101,\"REVOLVER\",\"IC\",\"Invest Cont\",230,0,0,0,\"300 W  VERNON                       AV\",\"0\",34.0075,-118.2775],[171318748,42967,42967,100,13,\"Newton\",1351,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0334 1309 0416\",25,\"M\",102,\"SIDEWALK\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"IC\",\"Invest Cont\",230,0,0,0,\"43RD                         PL\",\"MAIN                         ST\",34.0047,-118.274],[171318749,42967,42966,2300,13,\"Newton\",1345,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0408 0602 0561 0448 1206\",55,\"M\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",230,0,0,0,\"1100 E  40TH                         PL\",\"0\",34.0102,-118.2565],[171318752,42967,42967,1430,13,\"Newton\",1367,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"47TH                         ST\",\"LONG BEACH                   AV\",34.0011,-118.242],[171318756,42967,42964,2100,13,\"Newton\",1353,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"1606 0344 1202\",64,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"1000 E  VERNON                       AV\",\"0\",34.0039,-118.2583],[171318757,42967,42966,1700,13,\"Newton\",1346,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"1606 0344\",51,\"F\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"ASCOT                        AV\",\"43RD                         ST\",34.0059,-118.2497],[171318758,42967,42966,2100,13,\"Newton\",1331,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"329\",47,\"F\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"100 W  27TH                         ST\",\"0\",34.0238,-118.2693],[171318764,42967,42967,2120,13,\"Newton\",1321,210,\"ROBBERY\",\"0916 0303 0330 0334 0449 0355 0341\",36,\"M\",101,\"STREET\",102,\"HAND GUN\",\"IC\",\"Invest Cont\",210,0,0,0,\"43RD\",\"GRAND\",34.0289,-118.2686],[171318774,42967,42967,1545,13,\"Newton\",1361,624,\"BATTERY - SIMPLE ASSAULT\",\"0602 0562 0446 0417\",33,\"F\",501,\"SINGLE FAMILY DWELLING\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"100 W  49TH                         ST\",\"0\",33.9984,-118.274],[171318775,42967,42967,1415,13,\"Newton\",1373,624,\"BATTERY - SIMPLE ASSAULT\",\"1253 0400 0319\",32,\"F\",801,\"MTA BUS\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"54TH                         ST\",\"AVALON                       BL\",33.9933,-118.2652],[171318776,42967,42967,2315,13,\"Newton\",1372,210,\"ROBBERY\",\"0305 0448 0408 0344 0370\",36,\"M\",102,\"SIDEWALK\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,998,0,0,\"56TH                         ST\",\"AVALON                       BL\",33.9916,-118.2652],[171318777,42967,42967,1820,13,\"Newton\",1325,624,\"BATTERY - SIMPLE ASSAULT\",\"0446 0416 0603 0913 0361 1259\",17,\"F\",103,\"ALLEY\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"1100 E  ADAMS                        BL\",\"0\",34.0188,-118.2549],[171318778,42967,42967,1820,13,\"Newton\",1325,624,\"BATTERY - SIMPLE ASSAULT\",\"0446 0416 0603 0913 0361\",19,\"M\",103,\"ALLEY\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"1100 E  ADAMS                        BL\",\"0\",34.0188,-118.2549],[171318779,42967,42967,1820,13,\"Newton\",1325,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"1309 0416 0603 0913 0361\",34,\"F\",103,\"ALLEY\",307,\"VEHICLE\",\"IC\",\"Invest Cont\",230,0,0,0,\"1100 E  ADAMS                        BL\",\"0\",34.0188,-118.2549],[171318787,42966,42966,1255,13,\"Newton\",1365,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0913 0432 0421\",21,\"F\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"IC\",\"Invest Cont\",930,0,0,0,\"1300 E  51ST                         ST\",\"0\",33.9967,-118.2521],[171318789,42966,42966,1255,13,\"Newton\",1365,930,\"CRIMINAL THREATS - NO WEAPON DISPLAYED\",\"0913 0432 0421\",19,\"F\",501,\"SINGLE FAMILY DWELLING\",511,\"VERBAL THREAT\",\"AA\",\"Adult Arrest\",930,0,0,0,\"1300 E  51ST                         ST\",\"0\",33.9967,-118.2521],[171318790,42968,42967,2130,13,\"Newton\",1354,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"4000    ADAIR                        ST\",\"0\",34.0112,-118.2692],[171318793,42968,42967,1900,13,\"Newton\",1309,320,\"BURGLARY, ATTEMPTED\",\"0329 1607\",43,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",320,0,0,0,\"2100    BAY                          ST\",\"0\",34.0316,-118.23],[171318794,42966,42966,1800,13,\"Newton\",1347,901,\"VIOLATION OF RESTRAINING ORDER\",\"0913 0432\",57,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",901,0,0,0,\"1500 E  32ND                         ST\",\"0\",34.0128,-118.2485],[171318795,42966,42966,1800,13,\"Newton\",1347,901,\"VIOLATION OF RESTRAINING ORDER\",\"0913 0432\",26,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",901,0,0,0,\"1500 E  32ND                         ST\",\"0\",34.0128,-118.2485],[171318796,42966,42966,1800,13,\"Newton\",1347,901,\"VIOLATION OF RESTRAINING ORDER\",\"0913 0432\",0,\"F\",501,\"SINGLE FAMILY DWELLING\",0,\"0\",\"IC\",\"Invest Cont\",901,0,0,0,\"1500 E  32ND                         ST\",\"0\",34.0128,-118.2485],[171318798,42968,42964,900,13,\"Newton\",1346,420,\"THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",420,0,0,0,\"ASCOT\",\"VERNON\",34.0039,-118.2499],[171318809,42968,42968,30,13,\"Newton\",1361,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"AO\",\"Adult Other\",510,0,0,0,\"51ST                         ST\",\"BROADWAY\",33.9965,-118.2783],[171318811,42968,42968,945,13,\"Newton\",1313,210,\"ROBBERY\",\"0432 0305 0344 1259 1251 1223 0429\",16,\"M\",102,\"SIDEWALK\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"TRINITY\",\"20TH                         ST\",34.0286,-118.2599],[171318812,42968,42968,1545,13,\"Newton\",1375,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"COMPTON                      AV\",\"57TH                         ST\",33.9912,-118.2478],[171318813,42968,42968,1045,13,\"Newton\",1307,626,\"INTIMATE PARTNER - SIMPLE ASSAULT\",\"1218 0416 2000 0913\",36,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",626,0,0,0,\"8TH                          ST\",\"CROCKER\",34.0378,-118.2483],[171318814,42968,42968,900,13,\"Newton\",1361,648,\"ARSON\",\"1402\",37,\"F\",501,\"SINGLE FAMILY DWELLING\",500,\"UNKNOWN WEAPON/OTHER WEAPON\",\"IC\",\"Invest Cont\",648,998,0,0,\"4900 S  BROADWAY\",\"0\",33.9983,-118.2783],[171318815,42968,42959,2000,13,\"Newton\",1351,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"BROADWAY\",\"42ND\",34.0056,-118.2784],[171318816,42968,42968,700,13,\"Newton\",1333,510,\"VEHICLE - STOLEN\",\"0\",16,\"0\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",510,0,0,0,\"29TH                         ST\",\"CENTRAL                      AV\",34.0157,-118.2562],[171318817,42968,42968,1630,13,\"Newton\",1331,210,\"ROBBERY\",\"0344 0302 0334\",22,\"M\",102,\"SIDEWALK\",109,\"SEMI-AUTOMATIC PISTOL\",\"IC\",\"Invest Cont\",210,0,0,0,\"JEFFERSON\",\"BROADWAY                     AV\",34.0197,-118.2749],[171318818,42968,42968,1510,13,\"Newton\",1383,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0416 0334 1402\",53,\"M\",101,\"STREET\",311,\"HAMMER\",\"IC\",\"Invest Cont\",230,998,0,0,\"100 E  59TH                         PL\",\"0\",33.9861,-118.2739],[171318821,42968,42967,1800,13,\"Newton\",1364,210,\"ROBBERY\",\"0344 0416 0417\",65,\"M\",103,\"ALLEY\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",210,0,0,0,\"58TH                         ST\",\"COMPTON                      AV\",33.9994,-118.2543],[171318825,42968,42968,915,13,\"Newton\",1353,624,\"BATTERY - SIMPLE ASSAULT\",\"416\",22,\"F\",101,\"STREET\",400,\"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)\",\"IC\",\"Invest Cont\",624,0,0,0,\"4400 S  CENTRAL                      AV\",\"0\",34.0037,-118.2609],[171318826,42968,42919,800,13,\"Newton\",1317,662,\"BUNCO, GRAND THEFT\",\"0344 0701\",30,\"F\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",662,0,0,0,\"1900 S  ALAMEDA                      ST\",\"0\",34.0245,-118.244],[171318827,42968,42968,1805,13,\"Newton\",1364,230,\"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT\",\"0416 0401\",14,\"F\",101,\"STREET\",306,\"ROCK/THROWN OBJECT\",\"IC\",\"Invest Cont\",230,0,0,0,\"47TH                         ST\",\"HOOPER\",34.0011,-118.2521],[171318828,42968,42967,815,13,\"Newton\",1307,740,\"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114\",\"329\",61,\"M\",122,\"VEHICLE, PASSENGER/TRUCK\",0,\"0\",\"IC\",\"Invest Cont\",740,0,0,0,\"7TH\",\"MERCHANT\",34.0372,-118.2418],[171318835,42968,42967,1026,13,\"Newton\",1303,949,\"ILLEGAL DUMPING\",\"1309\",0,\"M\",203,\"OTHER BUSINESS\",0,\"0\",\"IC\",\"Invest Cont\",949,0,0,0,\"900    STANFORD                     AV\",\"0\",34.035,-118.2478],[171318839,42968,42966,330,13,\"Newton\",1309,331,\"THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)\",\"0344 1606\",27,\"M\",101,\"STREET\",0,\"0\",\"IC\",\"Invest Cont\",331,0,0,0,\"ALAMEDA                      ST\",\"WASHINGTON                   BL\",34.02,-118.2395],[171318840,42968,42968,1900,13,\"Newton\",1381,440,\"THEFT PLAIN - PETTY ($950 & UNDER)\",\"1309 0325 0104 0326\",0,\"M\",108,\"PARKING LOT\",0,\"0\",\"IC\",\"Invest Cont\",440,951,0,0,\"5800 S  OLIVE                        ST\",\"0\",33.9892,-118.2794]]}},{\"query\":\"SELECT \\\"code\\\", \\\"description\\\" FROM \\\"codes\\\" LIMIT 1000\",\"id\":\"fin0e8r\",\"error\":null,\"loading\":false,\"result\":{\"columns\":[\"code\",\"description\"],\"values\":[[100,\"Suspect Impersonate\"],[101,\"Aid victim\"],[102,\"Blind\"],[103,\"Crippled\"],[104,\"Customer\"],[105,\"Delivery\"],[106,\"Doctor\"],[107,\"God\"],[108,\"Infirm\"],[109,\"Inspector\"],[110,\"Involved in traffic/accident\"],[112,\"Police\"],[113,\"Renting\"],[114,\"Repair Person\"],[115,\"Returning stolen property\"],[116,\"Satan\"],[117,\"Salesman\"],[118,\"Seeking someone\"],[119,\"Sent by owner\"],[120,\"Social Security/Medicare\"],[121,\"DWP/Gas Company/Utility worker\"],[122,\"Contractor\"],[123,\"Gardener/Tree Trimmer\"],[200,\"Suspect wore disguise\"],[201,\"Bag\"],[202,\"Cap/hat\"],[203,\"Cloth (with eyeholes)\"],[204,\"Clothes of opposite sex\"],[205,\"Earring\"],[206,\"Gloves\"],[207,\"Handkerchief\"],[208,\"Halloween mask\"],[209,\"Mask\"],[210,\"Make up (males only)\"],[211,\"Shoes\"],[212,\"Nude/partly nude\"],[213,\"Ski mask\"],[214,\"Stocking\"],[215,\"Unusual clothes\"],[216,\"Suspect wore hood/hoodie\"],[217,\"Uniform\"],[218,\"Wig\"],[219,\"Mustache-Fake\"],[220,\"Suspect wore motorcycle helmet\"],[301,\"Escaped on (used) transit train\"],[302,\"Aimed gun\"],[303,\"Ambushed\"],[304,\"Ate/drank on premises\"],[305,\"Attacks from rear\"],[306,\"Crime on upper floor\"],[307,\"Defecated/urinated\"],[308,\"Demands jewelry\"],[309,\"Drive-by shooting\"],[310,\"Got victim to withdraw savings\"],[311,\"Graffiti\"],[312,\"Gun in waistband\"],[313,\"Hid in building\"],[314,\"Hot Prowl\"],[315,\"Jumped counter/goes behind counter\"],[316,\"Makes victim give money\"],[317,\"Pillowcase/suitcase\"],[318,\"Prepared exit\"],[319,\"Profanity Used\"],[320,\"Quiet polite\"],[321,\"Ransacked\"],[322,\"Smashed display case\"],[323,\"Smoked on premises\"],[324,\"Takes money from register\"],[325,\"Took merchandise\"],[326,\"Used driver\"],[327,\"Used lookout\"],[328,\"Used toilet\"],[329,\"Vandalized\"],[330,\"Victims vehicle taken\"],[331,\"Mailbox Bombing\"],[332,\"Mailbox Vandalism\"],[333,\"Used hand held radios\"],[334,\"Brandishes weapon\"],[335,\"Cases location\"],[336,\"Chain snatch\"],[337,\"Demands money\"],[338,\"Disables Telephone\"],[339,\"Disables video camera\"],[340,\"Suspect follows victim/follows victim home\"],[341,\"Makes vict lie down\"],[342,\"Multi-suspsoverwhelm\"],[343,\"Orders vict to rear room\"],[344,\"Removes vict property\"],[345,\"Riding bike\"],[346,\"Snatch property and runs\"],[347,\"Stalks vict\"],[348,\"Takeover other\"],[349,\"Takes mail\"],[350,\"Concealed victim's body\"],[351,\"Disabled Security\"],[352,\"Took Victim'sclothing or jewelry\"],[353,\"Weapon Concealed\"],[354,\"Suspect takes car keys\"],[355,\"Demanded property other than money\"],[356,\"Suspect spits on victim\"],[357,\"Cuts or breaks purse strap\"],[358,\"Forces Entry\"],[359,\"Made unusual statement\"],[360,\"Suspectis Other Family Member\"],[361,\"Suspect is neighbor\"],[362,\"Suspect attempts to carry victim away\"],[363,\"Home invasion\"],[364,\"Suspect is babysitter\"],[365,\"Takeover robbery\"],[366,\"Ordered vict to open safe\"],[367,\"Was Transit Patrol\"],[368,\"Suspect speaks foreign language\"],[369,\"Suspect speaks spanish\"],[370,\"Frisks victim/pats down victim/searches victim\"],[371,\"Gang affiliation questions asked/made gang statement\"],[372,\"Photographedvictim/took pictures of victim\"],[373,\"Handicapped/in wheelchair\"],[374,\"Gang signs/threw gang signs using hands\"],[375,\"Removes cash register\"],[376,\"Makes victim kneel\"],[377,\"Takes vict's identification/driver license\"],[378,\"Brings own bag\"],[379,\"Turns off lights/electricity\"],[380,\"Distracts Victim\"],[381,\"Suspect apologizes\"],[382,\"Removed money/property from safe\"],[383,\"Suspect entered during open house/party/estate/yard sale\"],[384,\"Suspect removed drugs from location\"],[385,\"Suspect removed parts from vehicle\"],[386,\"Suspect removedproperty from trunk of vehicle\"],[387,\"Weapon (other than gun) in waistband\"],[388,\"Suspect points laser at plane/helicopter\"],[389,\"Knock-knock\"],[390,\"Purse snatch\"],[391,\"Used demand note\"],[392,\"False Emergency Reporting\"],[393,\"911 Abuse\"],[394,\"Susp takes UPS, Fedex, USPS packages\"],[395,\"Murder/Suicide\"],[396,\"Used paper plates to disguise license number\"],[397,\"Cut lock (to bicycle, gate, etc.\"],[398,\"Roof access (remove A/C, equip, etc.)\"],[399,\"Vehicle to Vehicle shooting\"],[400,\"Force used\"],[401,\"Bit\"],[402,\"Blindfolded\"],[403,\"Bomb Threat, Bomb found\"],[404,\"Bomb Threat, no bomb\"],[405,\"Bound\"],[406,\"Brutal Assault\"],[407,\"Burned Victim\"],[408,\"Choked/uses choke hold\"],[409,\"Cover mouth w/hands\"],[410,\"Covered victim's face\"],[411,\"Cut/stabbed\"],[412,\"Disfigured\"],[413,\"Drugged\"],[414,\"Gagged\"],[415,\"Handcuffed/Metal\"],[416,\"Hit-Hit w/ weapon\"],[417,\"Kicked\"],[418,\"Kidnapped\"],[419,\"Pulled victims hair\"],[420,\"Searched\"],[421,\"Threaten to kill\"],[422,\"Threaten Victims family\"],[423,\"Tied victim to object\"],[424,\"Tore clothes off victim\"],[425,\"Tortured\"],[426,\"Twisted arm\"],[427,\"Whipped\"],[428,\"Dismembered\"],[429,\"Vict knocked to ground\"],[430,\"Vict shot\"],[431,\"Sprayed with chemical\"],[432,\"Intimidation\"],[433,\"Makes victim kneel\"],[434,\"Bed Sheets/Linens\"],[435,\"Chain\"],[436,\"Clothing\"],[437,\"Flexcuffs/Plastic Tie\"],[438,\"Rope/Cordage\"],[439,\"Tape/Electrical etc...\"],[440,\"Telephone/Electric Cord\"],[441,\"Wire\"],[442,\"Active Shooter/Armed person who has useddeadly physical force on otherpersons & aggressively continues whilehaving access to more victim's\"],[443,\"Threaten to harm victim (other than kill)\"],[444,\"Pushed\"],[445,\"Suspect swung weapon\"],[446,\"Suspect swung fist\"],[447,\"Suspect threw object at victim\"],[448,\"Grabbed\"],[449,\"Put a weapon to body\"],[450,\"Suspect shot at victim (no hits)\"],[500,\"Sex related acts\"],[501,\"Susp ejaculated outside victim\"],[502,\"Fecal Fetish\"],[503,\"Fondle victim\"],[504,\"Forced to disrobe\"],[505,\"Forced to fondle suspect\"]]}}]},\"deltas\":{\"open\":false,\"changes\":[]},\"notebook\":{\"layout\":[{\"rowId\":\"rfcfig\",\"items\":[{\"query\":\"SELECT\\n    \\\"DR Number\\\", \\n    \\\"Date Occurred\\\", \\n    \\\"Latitude\\\", \\n    \\\"Longitude\\\"\\nFROM \\\"geo_crime\\\"\\nORDER BY \\\"Date Reported\\\" desc\\nLIMIT 100\",\"id\":\"s7k9kh\",\"error\":null,\"suggestedName\":\"query5\",\"loading\":false,\"selected\":\"map\",\"result\":{\"nameable\":true,\"columns\":[\"DR Number\",\"Date Occurred\",\"Latitude\",\"Longitude\"],\"values\":[[170216594,42979,34.0601,-118.2761],[170216611,42979,34.0591,-118.2635],[170320430,42980,34.0178,-118.2811],[170515442,42974,33.7424,-118.2923],[170618811,42980,34.1034,-118.3325],[170901468,42975,34.205,-118.4339],[170916450,42980,34.1857,-118.4487],[171015335,42979,34.2084,-118.5339],[171115969,42980,34.0813,-118.2679],[171221788,42979,33.9737,-118.3298],[171319659,42980,34.0206,-118.2729],[171818018,42979,33.9465,-118.2608],[171818030,42974,33.9551,-118.2827],[170123708,42977,34.0437,-118.2455],[170123760,42979,34.0522,-118.2434],[170123775,42979,34.0547,-118.2505],[170216551,42979,34.061,-118.2615],[170216577,42964,34.0596,-118.2749],[170320355,42978,34.0355,-118.3003],[170320379,42979,34.021,-118.2977],[170320393,42945,34.0184,-118.3672],[170320401,42979,34.0219,-118.28],[170320420,42979,34.0227,-118.3351],[170414848,42977,34.0381,-118.2262],[170414879,42979,34.0594,-118.2046],[170501152,42979,33.8019,-118.2602],[170515385,42978,33.7778,-118.2766],[170515401,42947,33.7897,-118.2787],[170515413,42979,33.7942,-118.2923],[170515421,42979,33.7948,-118.3011],[170618787,42979,34.1016,-118.3387],[170715004,42978,34.0524,-118.3343],[170715032,42979,34.065,-118.3344],[170815030,42979,34.0419,-118.4602],[170815044,42979,34.048,-118.4433],[170916437,42884,34.1817,-118.4531],[171000877,42978,34.201,-118.5251],[171015285,42979,34.1722,-118.5244],[171015302,42566,34.1839,-118.5338],[171015312,42965,34.2048,-118.5099],[171015326,42979,34.1583,-118.497],[171115945,42978,34.0843,-118.252],[171221724,42979,33.9727,-118.2827],[171221771,42979,33.96,-118.316],[171319612,42977,33.9792,-118.2564],[171319630,42979,33.9824,-118.2783],[171419758,42978,34.0111,-118.4293],[171419779,42964,33.9797,-118.4078],[171419794,42950,33.9918,-118.457],[171419812,42979,34.0191,-118.4113],[171518048,42978,34.1985,-118.3878],[171518059,42972,34.1468,-118.3615],[171518073,42979,34.194,-118.4163],[171518086,42979,34.1704,-118.3921],[171518095,42979,34.1558,-118.3921],[171518104,42979,34.1522,-118.3845],[171613805,42978,34.2103,-118.3703],[171613821,42979,34.2166,-118.3919],[171700739,42978,34.2319,-118.571],[171716720,42979,34.237,-118.5025],[171716731,42936,34.2415,-118.5337],[171716747,42976,34.241,-118.5337],[171716759,42978,34.2285,-118.4955],[171716773,42979,34.2573,-118.5774],[171817987,42979,33.9437,-118.2826],[171817996,42979,33.9292,-118.2695],[171818004,42979,33.9393,-118.2695],[170123542,42969,34.0457,-118.2665],[170123612,42978,34.0419,-118.2485],[170123622,42968,34.0444,-118.2628],[170123648,42978,34.0416,-118.262],[170123657,42978,34.0336,-118.2626],[170123687,42978,34.0586,-118.2402],[170216445,42978,34.0529,-118.2819],[170216472,42962,34.0613,-118.2638],[170216507,42978,34.0707,-118.2795],[170216515,42978,34.0699,-118.2668],[170216526,42978,34.08,-118.2881],[170320277,42977,34.0148,-118.3222],[170320287,42977,34.0268,-118.2808],[170320308,42978,34.0181,-118.2846],[170320328,42978,34.0163,-118.3507],[170320343,42978,34.0124,-118.3351],[170401099,42978,34.0248,-118.1956],[170414777,42977,34.0627,-118.1696],[170414797,42967,34.0495,-118.2036],[170414830,42978,34.0649,-118.209],[170414856,42973,34.0676,-118.2077],[170515314,42978,33.7839,-118.2975],[170515328,42978,33.7306,-118.2857],[170515341,42978,33.7423,-118.3196],[170515351,42978,33.7827,-118.2673],[170515365,42978,33.7741,-118.2646],[170515377,42978,33.7813,-118.2609],[170618685,42977,34.0926,-118.3266],[170618703,42977,34.1054,-118.3137],[170618747,42977,34.098,-118.3479],[170714953,42978,34.0362,-118.3284],[170714966,42978,34.0736,-118.3419],[170714981,42978,34.0838,-118.3595]]}}]},{\"rowId\":\"rdetav\",\"items\":[{\"query\":\"SELECT\\n    strftime('%W', \\\"date occurred\\\") week,\\n    count(*) as weekly_frequency\\nFROM \\\"geo_crime\\\"\\ngroup by week\\nORDER BY week\",\"id\":\"su5oes\",\"error\":null,\"suggestedName\":\"query6\",\"loading\":false,\"selected\":\"line-chart\",\"result\":{\"nameable\":true,\"columns\":[\"week\",\"weekly_frequency\"],\"values\":[[\"00\",2],[\"01\",2],[\"02\",4],[\"03\",3],[\"04\",3],[\"05\",3],[\"06\",1],[\"07\",3],[\"08\",3],[\"09\",4],[\"10\",4],[\"11\",6],[\"12\",6],[\"13\",6],[\"14\",9],[\"15\",7],[\"16\",10],[\"17\",10],[\"18\",7],[\"19\",11],[\"20\",7],[\"21\",19],[\"22\",13],[\"23\",15],[\"24\",22],[\"25\",28],[\"26\",43],[\"27\",135],[\"28\",291],[\"29\",368],[\"30\",8],[\"31\",2],[\"35\",4],[\"38\",3],[\"39\",1],[\"42\",1],[\"43\",4],[\"44\",1],[\"46\",2],[\"47\",1],[\"48\",1],[\"49\",1],[\"50\",5],[\"51\",3],[\"52\",6]]}}]},{\"rowId\":\"eed3oh2\",\"items\":[{\"query\":\"select\\n\\tsubstr(codes.description,1,25),\\n    count(*) frequency\\nfrom \\\"geo_crime\\\" join \\\"codes\\\"\\n\\ton \\\"geo_crime\\\".\\\"Crime Code 1\\\" = codes.\\\"code\\\"\\ngroup by codes.code\\nORDER BY frequency desc\",\"id\":\"8du5med\",\"error\":null,\"suggestedName\":\"query3\",\"loading\":false,\"selected\":\"bar-chart\",\"result\":{\"nameable\":true,\"columns\":[\"substr(codes.description,1,25)\",\"frequency\"],\"values\":[[\"Kissed victims body/face\",80],[\"Victims vehicle taken\",78],[\"Telephone/Electric Cord\",61],[\"Suspect takes car keys\",60],[\"Searched\",57],[\"Got victim to withdraw sa\",54],[\"Make up (males only)\",48],[\"Makes vict lie down\",33],[\"Unauthorized use of victi\",26],[\"Mailbox Bombing\",16],[\"Active Shooter/Armed pers\",16],[\"Concealed victim's body\",15],[\"DWP/Gas Company/Utility w\",10],[\"Gang Feud\",10],[\"Organized Crime\",7],[\"Hatred/Prejudice\",5],[\"Involved in traffic/accid\",3],[\"Suspect wore motorcycle h\",3],[\"Quiet polite\",2],[\"Makes victim kneel\",2],[\"Political Activity\",2],[\"Public Transit (Metrolink\",2],[\"Took Victim'sclothing or \",1],[\"Covered victim's face\",1],[\"Bed Sheets/Linens\",1],[\"Flexcuffs/Plastic Tie\",1],[\"Wire\",1]]}}]},{\"rowId\":\"rqz0ws\",\"items\":[{\"query\":\"SELECT * from #freq\\norder by frequency asc\\nlimit 10\",\"id\":\"4i9hsmu\",\"error\":null,\"suggestedName\":\"query4\",\"loading\":false,\"selected\":\"bar-chart\",\"result\":{\"nameable\":true,\"columns\":[\"substr(codes.description,1,25)\",\"frequency\"],\"values\":[[\"Took Victim'sclothing or \",1],[\"Covered victim's face\",1],[\"Bed Sheets/Linens\",1],[\"Flexcuffs/Plastic Tie\",1],[\"Wire\",1],[\"Quiet polite\",2],[\"Makes victim kneel\",2],[\"Political Activity\",2],[\"Public Transit (Metrolink\",2],[\"Involved in traffic/accid\",3]]}}]},{\"rowId\":\"rfdm2n\",\"items\":[{\"query\":\"SELECT \\\"Date Reported\\\", \\\"date occurred\\\" from \\\"geo_crime\\\"\",\"id\":\"selpm8\",\"error\":null,\"suggestedName\":\"query7\",\"loading\":false,\"selected\":\"chart-2d\",\"result\":{\"nameable\":true,\"columns\":[\"Date Reported\",\"Date Occurred\"],\"values\":[[42855,42855],[42878,42877],[42889,42889],[42906,42906],[42924,42924],[42939,42939],[42956,42954],[42962,42962],[42964,42964],[42964,42964],[42965,42965],[42965,42965],[42965,42965],[42966,42901],[42804.04167,42804.04167],[42961,42961],[42963,42963],[42965,42962],[42967,42966],[42966,42966],[42967,42966],[42967,42967],[42968,42964],[42968,42968],[42968,42966],[42969,42969],[42969,42969],[42969,42927],[42969,42953],[42970,42969],[42969,42969],[42969,42969],[42971,42970],[42969,42969],[42767.04167,42766.04167],[42786.04167,42786.04167],[42811,42811],[42847,42840],[42871,42693.04167],[42959,42958],[42901,42390.04167],[42926,42915],[42940,42939],[42954,42953],[42960,42960],[42962,42962],[42964,42963],[42965,42964],[42966,42965],[42966,42966],[42967,42967],[42967,42967],[42967,42552],[42968,42968],[42961,42957],[42964,42964],[42968,42966],[42968,42964],[42969,42969],[42969,42969],[42969,40411],[42969,42969],[42970,42969],[42970,42969],[42970,42970],[42971,42970],[42971,42971],[42970,42970],[42750.04167,42749.04167],[42884,42884],[42908,42571],[42931,42931],[42961,42930],[42963,42963],[42944,42944],[42951,42949],[42960,42959],[42961,42961],[42964,42961],[42963,42962],[42964,42964],[42965,42963],[42965,42965],[42966,42955],[42966,42964],[42967,42966],[42966,42966],[42966,42966],[42961,42961],[42965,42965],[42968,42967],[42968,42968],[42969,42969],[42968,42968],[42970,42970],[42969,42966],[42971,42969],[42971,42971],[42971,42969],[42965,42965],[42930,42930],[42875,42875],[42921,42853],[42963,42963],[42964,42964],[42965,42965],[42939,42939],[42957,42957],[42958,42956],[42961,42961],[42962,42036.04167],[42949,42928],[42965,42965],[42966,42964],[42966,42965],[42966,42966],[42965,41668.04167],[42967,42924],[42968,42967],[42968,42966],[42968,42968],[42969,42961],[42969,42968],[42970,42969],[42970,42970],[42972,42971],[42968,42968],[42844,42614],[42882,42882],[42894,42894],[42961,42922],[42963,42963],[42906,42906],[42921,42750.04167],[42948,42948],[42963,42951],[42964,42964],[42964,42963],[42964,42962],[42964,42961],[42965,42965],[42966,42944],[42965,42925],[42966,42966],[42967,42967],[42967,42966],[42964,42963],[42964,42959],[42967,42967],[42968,42966],[42968,42967],[42968,42968],[42967,42966],[42969,42969],[42969,42965],[42969,42969],[42970,42970],[42956,42850],[42762.04167,42762.04167],[42839,42838],[42875,42860],[42894,42894],[42903,42903],[42909,42909],[42920,42920],[42961,42961],[42956,42956],[42935,42935],[42951,42951],[42958,42958],[42959,42959],[42963,42963],[42963,42963],[42965,42964],[42965,42964],[42965,42965],[42966,42966],[42966,42966],[42963,42917],[42965,42965],[42965,42965],[42965,42965],[42967,42967],[42967,42706.04167],[42968,42968],[42968,42967],[42968,42966],[42968,42968],[42964,42767.04167],[42969,42969],[42970,42970],[42970,42968],[42972,42972],[42771.04167,42766.04167],[42774.04167,42771.04167],[42777.04167,42768.04167],[42782.04167,42781.04167],[42787.04167,42786.04167],[42853,42853],[42954,42644]]}},{\"query\":\"SELECT\\n\\tfloor(\\\"Date Reported\\\" - \\\"date occurred\\\") time_to_report,\\n    count(*)\\nfrom \\\"geo_crime\\\"\\ngroup by time_to_report\\nHAVING time_to_report > 3\\n\",\"id\":\"s8e9r1\",\"error\":null,\"suggestedName\":\"query8\",\"loading\":false,\"selected\":\"bar-chart\",\"result\":{\"nameable\":true,\"columns\":[\"time_to_report\",\"count(*)\"],\"values\":[[4,14],[5,13],[6,9],[7,8],[8,8],[9,6],[10,1],[11,6],[12,6],[13,5],[14,5],[15,3],[16,4],[17,2],[18,4],[19,3],[20,1],[21,4],[22,4],[23,1],[24,2],[26,1],[27,1],[29,3],[30,1],[31,1],[32,1],[33,1],[34,1],[35,1],[36,2],[37,1],[39,1],[40,3],[42,1],[43,2],[46,1],[47,1],[48,1],[51,1],[55,4],[56,2],[59,1],[65,1],[66,1],[68,1],[71,1],[72,1],[78,1],[79,1],[80,1],[83,1],[88,1],[92,1],[95,1],[99,1],[101,1],[104,1],[106,1],[107,1],[111,1],[114,1],[116,1],[118,1],[132,1],[147,1],[152,1],[160,1],[170,1],[175,1],[177,1],[181,1],[182,1],[196,1],[221,1],[230,1],[248,1],[260,1],[308,1],[310,1],[329,1],[334,1],[337,1],[359,1],[364,1],[398,1],[413,1],[415,1],[510,1],[761,1],[925,1],[1096,1],[1154,1],[1296,1],[1547,1],[1678,1],[1878,1],[2558,1]]}}]},{\"rowId\":\"7mso252\",\"items\":[{\"query\":\"\",\"id\":\"ksjm480\",\"loading\":false}]}]}},\"autoconnect\":false,\"version\":2}";
</script>

<script type="text/javascript">
function sendData(target, src){
  console.log(src)
  if(typeof DATA != 'undefined'){
    target.postMessage(DATA, '*')    
  }
}

window.addEventListener("message", function(e){
  console.log(e.data)
  if(e.data == 'franchise-request-import'){
    e.source.postMessage({ action: 'franchise-import', data: DATA }, '*')
  }
}, false)

setTimeout(function(){
  if(typeof DATA != 'undefined'){
    document.getElementById('click').style.display = ''
    document.getElementById('loader').style.display = 'none'
  }
}, 1500);
</script>

<iframe src="http://localhost:3000/reciever.html" onload="sendData(this.contentWindow, this.src)"></iframe>
<iframe src="https://app.datarose.org/reciever.html" onload="sendData(this.contentWindow, this.src)"></iframe>
