<meta charset="utf-8">
<title>DataRose notebook sales</title>

<style>
body {
  font-family: sans-serif;
  padding: 100px;
  background: #f7f7f7;
}
iframe {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
a {
  font-size: large;
}


#click {
  background: #2257d9;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

/*https://projects.lukehaas.me/css-loaders/*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(34,87,217, 0.2);
  border-right: 1.1em solid rgba(34,87,217, 0.2);
  border-bottom: 1.1em solid rgba(34,87,217, 0.2);
  border-left: 1.1em solid #2257d9;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

<div class="loader" id="loader">Loading DataRose App...</div>

<center><a id="click" style="display:none" href="https://app.datarose.org" target="_blank">Click here to open this notebook in DataRose</a></center>
<script type="text/javascript">
const DATA = "{\"state\":{\"config\":{},\"connect\":{\"active\":\"sqlite\",\"status\":\"unconfigured\"},\"trash\":{\"open\":false,\"cells\":[]},\"deltas\":{\"open\":false,\"changes\":[]},\"notebook\":{\"layout\":[{\"rowId\":\"j0lc948\",\"items\":[{\"query\":\"SELECT\\n    \\\"Representative Name\\\", \\n    \\\"Product\\\", \\n    \\\"State\\\", \\n    \\\"Sale Amount\\\", \\n    \\\"Quarter\\\"\\nFROM \\\"Sales\\\"\\nORDER BY (-1) * \\\"Sale Amount\\\"\\nLIMIT 1000\",\"id\":\"3ndet84\",\"error\":null,\"suggestedName\":\"query1\",\"loading\":false,\"result\":{\"nameable\":true,\"columns\":[\"Representative Name\",\"Product\",\"State\",\"Sale Amount\",\"Quarter\"],\"values\":[[\"Edgar Wilkins\",\"homeopathic remedy\",\"California\",9999.15,\"Q4\"],[\"Manuel Boyd\",\"snake\",\"Texas\",9997.8,\"Q1\"],[\"Richard Luna\",\"401k\",\"California\",9992.48,\"Q2\"],[\"Hulda Munoz\",\"homeopathic remedy\",\"Texas\",9991.79,\"Q2\"],[\"Eleanor Ford\",\"401k\",\"Texas\",9989.61,\"Q2\"],[\"Caroline Berry\",\"homeopathic remedy\",\"New York\",9989.49,\"Q4\"],[\"Mary Townsend\",\"beanie baby\",\"New York\",9988.73,\"Q3\"],[\"Lelia Graves\",\"watermelon\",\"California\",9988.15,\"Q3\"],[\"Tillie Bryant\",\"snake\",\"California\",9983.39,\"Q4\"],[\"Maude Hoffman\",\"401k\",\"Florida\",9982.57,\"Q3\"],[\"Sophia Wilson\",\"homeopathic remedy\",\"Florida\",9981.19,\"Q2\"],[\"Lula Thompson\",\"watermelon\",\"New York\",9979.59,\"Q4\"],[\"Josephine Bowen\",\"watermelon\",\"Massachusetts\",9973.07,\"Q3\"],[\"Nelle Alexander\",\"snake\",\"Massachusetts\",9966.51,\"Q1\"],[\"Lottie Graham\",\"homeopathic remedy\",\"New York\",9964.25,\"Q3\"],[\"Lola Wade\",\"homeopathic remedy\",\"California\",9959.88,\"Q4\"],[\"Sophia Stephens\",\"homeopathic remedy\",\"New York\",9959.78,\"Q4\"],[\"Shane Estrada\",\"401k\",\"New York\",9955.89,\"Q3\"],[\"Antonio Walton\",\"homeopathic remedy\",\"Florida\",9955.61,\"Q4\"],[\"Sally Tucker\",\"401k\",\"Florida\",9954.89,\"Q4\"],[\"Jason Park\",\"snake\",\"Florida\",9954.02,\"Q2\"],[\"Estella Dawson\",\"401k\",\"New York\",9951.8,\"Q2\"],[\"Viola Watson\",\"homeopathic remedy\",\"Florida\",9944.64,\"Q3\"],[\"Cordelia Washington\",\"beanie baby\",\"Florida\",9940.63,\"Q2\"],[\"Jesus Hampton\",\"401k\",\"Texas\",9938.25,\"Q2\"],[\"Henrietta Wood\",\"homeopathic remedy\",\"New York\",9936.87,\"Q2\"],[\"Birdie Carter\",\"watermelon\",\"Florida\",9935.66,\"Q4\"],[\"Nettie Copeland\",\"homeopathic remedy\",\"California\",9934.36,\"Q2\"],[\"Nannie Clarke\",\"homeopathic remedy\",\"Massachusetts\",9933.71,\"Q4\"],[\"Douglas Edwards\",\"homeopathic remedy\",\"Texas\",9931.02,\"Q3\"],[\"Viola Watson\",\"watermelon\",\"Massachusetts\",9930.26,\"Q3\"],[\"Irene Webster\",\"homeopathic remedy\",\"New York\",9927.24,\"Q2\"],[\"Viola Watson\",\"homeopathic remedy\",\"Massachusetts\",9924.48,\"Q1\"],[\"Jeanette Robertson\",\"snake\",\"California\",9923.29,\"Q4\"],[\"Isabelle Mills\",\"snake\",\"Massachusetts\",9922.29,\"Q3\"],[\"Marguerite Poole\",\"snake\",\"Massachusetts\",9921.41,\"Q4\"],[\"Lela Harvey\",\"watermelon\",\"Texas\",9921.13,\"Q4\"],[\"Irene Webster\",\"watermelon\",\"New York\",9919.43,\"Q3\"],[\"Georgie West\",\"401k\",\"Massachusetts\",9912.53,\"Q4\"],[\"Warren Warren\",\"beanie baby\",\"New York\",9911.59,\"Q4\"],[\"Lela Harvey\",\"snake\",\"Texas\",9911.32,\"Q1\"],[\"Lula Thompson\",\"beanie baby\",\"Florida\",9909.05,\"Q4\"],[\"Roxie McCormick\",\"beanie baby\",\"Massachusetts\",9908.12,\"Q3\"],[\"Nora Brooks\",\"401k\",\"Massachusetts\",9907.27,\"Q2\"],[\"Irene Webster\",\"watermelon\",\"Massachusetts\",9906.4,\"Q3\"],[\"Cody Duncan\",\"beanie baby\",\"Massachusetts\",9905.11,\"Q1\"],[\"Sarah Massey\",\"homeopathic remedy\",\"New York\",9903.12,\"Q2\"],[\"Nora Gray\",\"snake\",\"Massachusetts\",9902.49,\"Q4\"],[\"Johnny Wagner\",\"snake\",\"California\",9902.48,\"Q4\"],[\"Douglas Edwards\",\"401k\",\"Texas\",9900,\"Q4\"],[\"Curtis Cannon\",\"401k\",\"New York\",9897.6,\"Q4\"],[\"Addie Sutton\",\"401k\",\"New York\",9893.44,\"Q2\"],[\"Ida Ellis\",\"watermelon\",\"Massachusetts\",9891.4,\"Q3\"],[\"Lelia Bowen\",\"homeopathic remedy\",\"Florida\",9886.79,\"Q2\"],[\"Billy Lucas\",\"watermelon\",\"California\",9884.56,\"Q4\"],[\"Antonio Walton\",\"beanie baby\",\"Massachusetts\",9876.06,\"Q2\"],[\"Alejandro Castro\",\"401k\",\"Florida\",9874.86,\"Q3\"],[\"Antonio Walton\",\"401k\",\"Texas\",9874.28,\"Q4\"],[\"Josephine Bowen\",\"beanie baby\",\"Florida\",9872.79,\"Q4\"],[\"Caroline Berry\",\"beanie baby\",\"California\",9868.64,\"Q4\"],[\"Shane Estrada\",\"snake\",\"Massachusetts\",9868.57,\"Q2\"],[\"Troy Ballard\",\"beanie baby\",\"Florida\",9858.7,\"Q3\"],[\"Estella Dawson\",\"watermelon\",\"California\",9854.62,\"Q2\"],[\"Estella Dawson\",\"homeopathic remedy\",\"Florida\",9849.79,\"Q4\"],[\"Nannie Clarke\",\"watermelon\",\"New York\",9845.12,\"Q1\"],[\"Angel Reese\",\"snake\",\"Florida\",9842.93,\"Q4\"],[\"Gary Griffith\",\"homeopathic remedy\",\"Texas\",9842.75,\"Q4\"],[\"Warren Warren\",\"homeopathic remedy\",\"California\",9838.58,\"Q4\"],[\"Birdie Carter\",\"beanie baby\",\"New York\",9836.8,\"Q3\"],[\"Gertrude Harrington\",\"beanie baby\",\"Texas\",9835.07,\"Q4\"],[\"Abbie Jenkins\",\"beanie baby\",\"Florida\",9833.67,\"Q1\"],[\"Viola Watson\",\"snake\",\"Massachusetts\",9832.36,\"Q2\"],[\"Alejandro Castro\",\"beanie baby\",\"Massachusetts\",9832.32,\"Q4\"],[\"Tom Massey\",\"watermelon\",\"Florida\",9828.92,\"Q4\"],[\"Isabella Santiago\",\"beanie baby\",\"New York\",9827.08,\"Q3\"],[\"Annie Perkins\",\"snake\",\"Texas\",9826.67,\"Q1\"],[\"Angel Reese\",\"homeopathic remedy\",\"Texas\",9825.57,\"Q3\"],[\"Laura Morrison\",\"401k\",\"Massachusetts\",9824.31,\"Q3\"],[\"Alejandro Castro\",\"homeopathic remedy\",\"California\",9822.56,\"Q2\"],[\"Birdie Carter\",\"401k\",\"California\",9822.32,\"Q4\"],[\"Mamie Roy\",\"watermelon\",\"Massachusetts\",9822.07,\"Q4\"],[\"Lelia Graves\",\"watermelon\",\"New York\",9819.46,\"Q3\"],[\"Theresa Frazier\",\"beanie baby\",\"New York\",9817.94,\"Q3\"],[\"Manuel Boyd\",\"401k\",\"New York\",9817.53,\"Q4\"],[\"Jeanette Robertson\",\"watermelon\",\"Massachusetts\",9817.36,\"Q4\"],[\"Roxie McCormick\",\"401k\",\"New York\",9816.83,\"Q2\"],[\"Mark Parks\",\"watermelon\",\"California\",9814.1,\"Q4\"],[\"Manuel Boyd\",\"homeopathic remedy\",\"Massachusetts\",9808.62,\"Q3\"],[\"Billy Lucas\",\"homeopathic remedy\",\"Texas\",9807.35,\"Q4\"],[\"Helen Kelly\",\"beanie baby\",\"Massachusetts\",9804.96,\"Q4\"],[\"Rodney Day\",\"watermelon\",\"California\",9801.99,\"Q3\"],[\"Ian Miller\",\"watermelon\",\"California\",9800.93,\"Q3\"],[\"Charlotte Bryan\",\"watermelon\",\"New York\",9800.74,\"Q3\"],[\"Troy Ballard\",\"homeopathic remedy\",\"Florida\",9798.97,\"Q3\"],[\"Nelle Alexander\",\"snake\",\"Florida\",9798.65,\"Q4\"],[\"Jose Harmon\",\"watermelon\",\"New York\",9797.52,\"Q3\"],[\"Chris Atkins\",\"beanie baby\",\"New York\",9797.12,\"Q3\"],[\"Troy Ballard\",\"401k\",\"Texas\",9789.96,\"Q4\"],[\"Ida Hale\",\"snake\",\"New York\",9789.19,\"Q4\"],[\"Ida Hale\",\"401k\",\"Massachusetts\",9787.59,\"Q2\"],[\"Josephine Bowen\",\"beanie baby\",\"Florida\",9785.94,\"Q1\"],[\"Helen Kelly\",\"watermelon\",\"Texas\",9775.52,\"Q3\"],[\"Rodney Day\",\"401k\",\"Texas\",9772.37,\"Q3\"],[\"Josephine Bowen\",\"homeopathic remedy\",\"Massachusetts\",9769.77,\"Q2\"],[\"Chris Atkins\",\"snake\",\"California\",9768.39,\"Q3\"],[\"Sally Tucker\",\"watermelon\",\"Massachusetts\",9764.32,\"Q3\"],[\"Irene Webster\",\"401k\",\"California\",9761.07,\"Q3\"],[\"Gertrude Harrington\",\"401k\",\"California\",9761.05,\"Q4\"],[\"Nelle Alexander\",\"snake\",\"Texas\",9759.8,\"Q2\"],[\"Lelia Bowen\",\"401k\",\"California\",9758.84,\"Q3\"],[\"Birdie Simmons\",\"watermelon\",\"New York\",9757.48,\"Q4\"],[\"Elmer McLaughlin\",\"homeopathic remedy\",\"Massachusetts\",9756.23,\"Q3\"],[\"Jeremiah Norton\",\"watermelon\",\"California\",9755.51,\"Q4\"],[\"Eva Carter\",\"401k\",\"Texas\",9751.9,\"Q2\"],[\"Sarah Massey\",\"homeopathic remedy\",\"Florida\",9749.15,\"Q2\"],[\"Jeremiah Norton\",\"snake\",\"New York\",9748.44,\"Q4\"],[\"Charlotte Bryan\",\"watermelon\",\"New York\",9747.14,\"Q1\"],[\"Nora Gray\",\"401k\",\"Massachusetts\",9746.79,\"Q2\"],[\"Richard Luna\",\"watermelon\",\"Texas\",9743.79,\"Q1\"],[\"Lottie Graham\",\"watermelon\",\"Massachusetts\",9740.52,\"Q4\"],[\"Gertrude Harrington\",\"beanie baby\",\"Texas\",9736.42,\"Q4\"],[\"Shane Estrada\",\"watermelon\",\"Florida\",9734.17,\"Q4\"],[\"Alice McGuire\",\"snake\",\"New York\",9733.61,\"Q3\"],[\"Ian Miller\",\"homeopathic remedy\",\"Florida\",9733.52,\"Q4\"],[\"Gertrude Harrington\",\"watermelon\",\"New York\",9730.99,\"Q2\"],[\"Warren Warren\",\"401k\",\"Texas\",9730.44,\"Q4\"],[\"James Green\",\"homeopathic remedy\",\"Massachusetts\",9729.77,\"Q2\"],[\"Nora Brooks\",\"homeopathic remedy\",\"Massachusetts\",9729.26,\"Q2\"],[\"Shawn Martin\",\"401k\",\"Massachusetts\",9727.79,\"Q4\"],[\"Douglas Edwards\",\"snake\",\"Texas\",9725.31,\"Q4\"],[\"Virgie Walton\",\"beanie baby\",\"New York\",9720.9,\"Q4\"],[\"Birdie Carter\",\"401k\",\"Massachusetts\",9719.91,\"Q4\"],[\"Nannie Clarke\",\"401k\",\"New York\",9716.31,\"Q3\"],[\"Gilbert Horton\",\"homeopathic remedy\",\"Florida\",9715.54,\"Q3\"],[\"Nora Brooks\",\"beanie baby\",\"Florida\",9711.51,\"Q3\"],[\"Hulda Munoz\",\"snake\",\"Florida\",9706.96,\"Q4\"],[\"Virgie Walton\",\"watermelon\",\"Florida\",9706.17,\"Q4\"],[\"Charlotte Bryan\",\"beanie baby\",\"Texas\",9702.31,\"Q4\"],[\"Birdie Simmons\",\"snake\",\"California\",9701.49,\"Q2\"],[\"Sophia Stephens\",\"401k\",\"California\",9698.87,\"Q1\"],[\"Angel Reese\",\"snake\",\"New York\",9696.45,\"Q1\"],[\"Alice McGuire\",\"beanie baby\",\"Florida\",9692.71,\"Q1\"],[\"Eleanor Ford\",\"401k\",\"Massachusetts\",9691.95,\"Q4\"],[\"Iva Holmes\",\"beanie baby\",\"New York\",9687.68,\"Q3\"],[\"Troy Ballard\",\"snake\",\"New York\",9687.28,\"Q4\"],[\"Warren Warren\",\"401k\",\"Texas\",9684.26,\"Q4\"],[\"Shawn Martin\",\"watermelon\",\"Texas\",9683.81,\"Q4\"],[\"Ricky Burgess\",\"401k\",\"Texas\",9681.49,\"Q4\"],[\"Eleanor Ford\",\"401k\",\"California\",9677.87,\"Q2\"],[\"Lottie Graham\",\"homeopathic remedy\",\"New York\",9677.34,\"Q4\"],[\"Charlotte Bryan\",\"401k\",\"Texas\",9676.56,\"Q3\"],[\"Ida Hale\",\"snake\",\"New York\",9676.02,\"Q4\"],[\"Isabelle Mills\",\"snake\",\"Massachusetts\",9675.71,\"Q3\"],[\"Irene Webster\",\"401k\",\"Florida\",9672.82,\"Q2\"],[\"Rodney Day\",\"homeopathic remedy\",\"Massachusetts\",9670.21,\"Q4\"],[\"Mae Summers\",\"homeopathic remedy\",\"Massachusetts\",9669.96,\"Q4\"],[\"James Green\",\"401k\",\"California\",9667.14,\"Q4\"],[\"Myrtle Hodges\",\"401k\",\"Texas\",9665.13,\"Q4\"],[\"Emily Gardner\",\"401k\",\"California\",9664.98,\"Q3\"],[\"Gilbert Horton\",\"401k\",\"California\",9661.69,\"Q2\"],[\"Ida Ellis\",\"snake\",\"New York\",9661.55,\"Q4\"],[\"Roxie McCormick\",\"watermelon\",\"Texas\",9661.43,\"Q3\"],[\"Eleanor Patrick\",\"watermelon\",\"California\",9660.57,\"Q3\"],[\"May Webster\",\"snake\",\"Massachusetts\",9655.54,\"Q4\"],[\"Sophia Stephens\",\"snake\",\"New York\",9655.03,\"Q3\"],[\"Mark Parks\",\"watermelon\",\"Texas\",9654.91,\"Q4\"],[\"Jeff Jennings\",\"homeopathic remedy\",\"California\",9652.94,\"Q4\"],[\"Sophia Wilson\",\"homeopathic remedy\",\"California\",9652.78,\"Q2\"],[\"Estella Dawson\",\"401k\",\"California\",9649.86,\"Q4\"],[\"Genevieve Thornton\",\"beanie baby\",\"Florida\",9649.35,\"Q3\"],[\"Lottie Graham\",\"snake\",\"California\",9648.59,\"Q3\"],[\"Rodney Day\",\"homeopathic remedy\",\"California\",9646.17,\"Q4\"],[\"Troy Ballard\",\"snake\",\"New York\",9645.28,\"Q2\"],[\"Isabella Santiago\",\"homeopathic remedy\",\"New York\",9644.45,\"Q3\"],[\"Lula Thompson\",\"homeopathic remedy\",\"Texas\",9642.21,\"Q2\"],[\"Abbie Jenkins\",\"snake\",\"Texas\",9635.72,\"Q3\"],[\"Ricky Burgess\",\"snake\",\"New York\",9635.53,\"Q4\"],[\"James Green\",\"401k\",\"Florida\",9635.43,\"Q4\"],[\"Gertrude Harrington\",\"snake\",\"California\",9635.29,\"Q4\"],[\"Troy Ballard\",\"watermelon\",\"California\",9634.53,\"Q3\"],[\"Kenneth Hamilton\",\"401k\",\"New York\",9629.91,\"Q4\"],[\"Luis Gilbert\",\"watermelon\",\"New York\",9628.28,\"Q4\"],[\"Ida Hale\",\"beanie baby\",\"Texas\",9627.02,\"Q4\"],[\"Shane Estrada\",\"beanie baby\",\"New York\",9626.68,\"Q1\"],[\"Jeanette Robertson\",\"401k\",\"Massachusetts\",9620.09,\"Q4\"],[\"Virgie Walton\",\"homeopathic remedy\",\"New York\",9619.81,\"Q3\"],[\"Lottie Graham\",\"homeopathic remedy\",\"Florida\",9619.01,\"Q4\"],[\"Nannie Clarke\",\"snake\",\"New York\",9616.43,\"Q3\"],[\"Warren Warren\",\"401k\",\"Massachusetts\",9616.38,\"Q3\"],[\"Nelle Alexander\",\"snake\",\"Florida\",9615.09,\"Q4\"],[\"Bruce Berry\",\"401k\",\"New York\",9613.67,\"Q3\"],[\"Addie Sutton\",\"snake\",\"Texas\",9610.36,\"Q4\"],[\"Ricky Burgess\",\"watermelon\",\"California\",9609.11,\"Q2\"],[\"Antonio Walton\",\"beanie baby\",\"Florida\",9608.9,\"Q1\"],[\"Georgie West\",\"beanie baby\",\"New York\",9608.64,\"Q4\"],[\"Antonio Walton\",\"homeopathic remedy\",\"Texas\",9607.53,\"Q2\"],[\"Jeff Jennings\",\"homeopathic remedy\",\"Florida\",9606.97,\"Q3\"],[\"Eleanor Patrick\",\"watermelon\",\"New York\",9604.57,\"Q4\"],[\"Georgie West\",\"watermelon\",\"Florida\",9603.86,\"Q1\"],[\"Nannie Clarke\",\"snake\",\"New York\",9602.89,\"Q4\"]]}}]},{\"rowId\":\"rc3l0a\",\"items\":[{\"query\":\"SELECT\\n    \\\"Representative Name\\\", \\n    SUM(\\\"Sale Amount\\\"),\\n    COUNT(*)\\nFROM \\\"Sales\\\"\\nGROUP BY \\\"Representative Name\\\"\",\"id\":\"st7mie\",\"error\":null,\"suggestedName\":\"query1\",\"loading\":false,\"selected\":\"single-row\",\"result\":{\"columns\":[\"Representative Name\",\"SUM(\\\"Sale Amount\\\")\",\"COUNT(*)\"],\"values\":[[\"Abbie Jenkins\",296811.98000000004,92],[\"Addie Sutton\",281724.5899999999,91],[\"Alejandro Castro\",316430.0300000001,98],[\"Alice McGuire\",290372.83999999997,91],[\"Amelia Pope\",327287.7499999999,93],[\"Angel Reese\",343426.97,103],[\"Annie Perkins\",381462.76000000007,109],[\"Antonio Walton\",290540.79999999993,94],[\"Billy Lucas\",409868.6699999998,118],[\"Birdie Carter\",381455.0700000002,93],[\"Birdie Simmons\",344119.91,101],[\"Bruce Berry\",332460.74000000017,97],[\"Caroline Berry\",314568.1799999998,98],[\"Charlie West\",290973.20000000007,92],[\"Charlotte Bryan\",374763.2999999998,103],[\"Chris Atkins\",330941.9299999998,103],[\"Cody Duncan\",259952.90999999995,91],[\"Cordelia Washington\",339654.05,109],[\"Curtis Cannon\",356711.52,107],[\"Douglas Edwards\",329606.84,85],[\"Edgar Wilkins\",301165.98000000004,90],[\"Eleanor Ford\",339755.7499999999,95],[\"Eleanor Patrick\",332182.62999999995,97],[\"Elmer McLaughlin\",320911.7400000001,99],[\"Emily Gardner\",282744.42,94],[\"Emma Holmes\",280617.26000000007,97],[\"Estella Dawson\",356603.8799999999,94],[\"Estelle Zimmerman\",251405.59000000008,85],[\"Eva Carter\",352475.3100000001,106],[\"Gary Griffith\",315034.7700000001,92],[\"Genevieve Thornton\",299965.23000000004,86],[\"Georgie West\",287816.0300000001,93],[\"Gertrude Harrington\",339852.38999999996,101],[\"Gilbert Horton\",195346.11000000002,76],[\"Helen Kelly\",373241.8,108],[\"Henrietta Wood\",354766.01,100],[\"Hulda Munoz\",337786.0999999999,94],[\"Ian Miller\",342114.3800000001,96],[\"Ida Ellis\",294490.5999999999,85],[\"Ida Hale\",352087.41000000003,94],[\"Ina Evans\",280539.16000000003,81],[\"Irene Webster\",407582.93000000005,109],[\"Isabella Santiago\",318464.7300000001,98],[\"Isabelle Mills\",320230.81999999995,108],[\"Iva Holmes\",370456.37000000005,113],[\"Ivan Moore\",387890.13000000006,114],[\"James Green\",439799.49000000017,114],[\"Jason Park\",292841.42000000004,97],[\"Jeanette Robertson\",330934.48999999993,103],[\"Jeff Jennings\",367554.55,117],[\"Jeremiah Norton\",392359.09000000014,115],[\"Jesus Hampton\",324949.54,104],[\"Johnny Wagner\",340004.48,111],[\"Jose Harmon\",297456.88,98],[\"Josephine Bowen\",301799.69000000006,86],[\"Kenneth Hamilton\",250131.57999999993,76],[\"Laura Morrison\",243913.38000000006,90],[\"Lela Harvey\",323676.81,95],[\"Lelia Bowen\",294116.93999999994,97],[\"Lelia Graves\",302530.86,96],[\"Lola Wade\",339957.3799999999,87],[\"Lottie Graham\",319398.0300000001,90],[\"Luis Gilbert\",280917.92,85],[\"Lula Thompson\",388000.2100000001,97],[\"Mae Summers\",259285.96000000002,95],[\"Mamie Roy\",298514.0400000001,89],[\"Manuel Boyd\",385026.89999999997,95],[\"Marc Bell\",363749.2199999999,108],[\"Marguerite Poole\",271713.0299999999,80],[\"Mark Parks\",315968.33999999985,92],[\"Mary Townsend\",306992.8300000002,92],[\"Maude Hoffman\",398008.75999999995,107],[\"May Webster\",423010.77999999974,109],[\"Myrtle Hodges\",328390.64999999997,98],[\"Nannie Clarke\",288466.43999999994,95],[\"Nelle Alexander\",342652.9799999998,98],[\"Nettie Copeland\",278187.42000000016,88],[\"Nora Brooks\",369076.1099999999,99],[\"Nora Gray\",291943.6099999999,91],[\"Richard Logan\",275449.48000000004,80],[\"Richard Luna\",342601.11000000004,107],[\"Ricky Burgess\",340759.17,99],[\"Rodney Day\",314690.2300000001,99],[\"Roxie McCormick\",298144.2399999999,87],[\"Sally Tucker\",405953.38999999996,118],[\"Samuel Yates\",342287.5399999999,95],[\"Sarah Massey\",354158.18,103],[\"Shane Estrada\",282512.24000000005,91],[\"Shawn Martin\",324634.33,88],[\"Sophia Stephens\",325357.55,82],[\"Sophia Wilson\",330711.68999999994,101],[\"Stephen Baker\",301894.97999999986,86],[\"Theresa Frazier\",339518.36,107],[\"Tillie Bryant\",284494.7799999999,93],[\"Tom Massey\",277622.02999999997,89],[\"Troy Ballard\",371062.9800000002,108],[\"Viola Watson\",311328.79,97],[\"Virgie Walton\",304339.56,94],[\"Warren Warren\",341305.65,104],[\"Winnie Norman\",294148.31999999995,109]]}},{\"query\":\"SELECT\\n    \\\"Product\\\", \\n    SUM(\\\"Sale Amount\\\"),\\n    COUNT(*)\\nFROM \\\"Sales\\\"\\nGROUP BY \\\"Product\\\"\",\"id\":\"sqf26b\",\"error\":null,\"suggestedName\":\"query2\",\"loading\":false,\"selected\":\"bar-chart\",\"result\":{\"nameable\":true,\"columns\":[\"Product\",\"SUM(\\\"Sale Amount\\\")\",\"COUNT(*)\"],\"values\":[[\"401k\",7196695.060000002,2106],[\"beanie baby\",5355563.259999998,1656],[\"homeopathic remedy\",6870767.230000007,2007],[\"snake\",6675085.529999992,1993],[\"watermelon\",6404854.899999998,1942]]}}]}],\"forceRenderToken\":5}},\"autoconnect\":false,\"version\":2}";
</script>

<script type="text/javascript">
function sendData(target, src){
  console.log(src)
  if(typeof DATA != 'undefined'){
    target.postMessage(DATA, '*')    
  }
}

window.addEventListener("message", function(e){
  console.log(e.data)
  if(e.data == 'franchise-request-import'){
    e.source.postMessage({ action: 'franchise-import', data: DATA }, '*')
  }
}, false)

setTimeout(function(){
  if(typeof DATA != 'undefined'){
    document.getElementById('click').style.display = ''
    document.getElementById('loader').style.display = 'none'
  }
}, 1500);
</script>

<iframe src="http://localhost:3000/reciever.html" onload="sendData(this.contentWindow, this.src)"></iframe>
<iframe src="https://app.datarose.org/reciever.html" onload="sendData(this.contentWindow, this.src)"></iframe>
